[2019-03-29 10:01] lithorus opened #1 "Wrong gitlab API url when using on-prem server"
When using custom "Enterprise Base URL" it seems that it pre-pends api/v3 before the api/v4 url.

Getting this error when trying to authorize the plugin after `/gitlab connect`:

`GET https://gitlab.local.domain/api/v3/api/v4/user: 410 {error: API V3 is no longer supported. Use API V4 instead.}`

[2019-03-29 10:28] lithorus opened #2 "Clicking the gitlab icon redirects to github plugin"
When clicking the gitlab icon on the left side it opens up the plugin page for github instead

`https://mattermost.local.domain/plugins/github/oauth/connect`

[2019-04-12 22:06] manland opened #3 "Move to gitlab"
A plugin of gitlab in github...

Pro :
- integrated ci/cd

Cons :
- community of mattermost is in github
- all other plugins are in github

[2019-04-12 22:08] manland opened #4 "CI for pull-request"
And maybe release, see [mattermost-plugin-github](https://github.com/mattermost/mattermost-plugin-github/blob/master/.circleci/config.yml) for inspiration

[2019-04-13 17:23] jasonblais commented on #2
@manland I think this issue might be fixed now?

[2019-04-13 17:24] jasonblais commented on #1
@manland This is likely remnants of the GitHub plugin, but may have been fixed since?

[2019-04-13 17:48] manland commented on #1
@jasonblais yes it's fixed but I haven't push so I haven't close it! I'm on the last manual tests with local gitlab and all seems ok 😋 maybe tonight, maybe tomorrow I will push and release the first version!

[2019-04-13 17:58] jasonblais commented on #1
Great to hear, thanks @manland 👍

[2019-04-15 20:12] manland opened #6 "You can use [`GetBundlePath`](https://developers.mattermost.com/extend/plugins/server/reference/#API.GetBundlePath) for this."
You can use [`GetBundlePath`](https://developers.mattermost.com/extend/plugins/server/reference/#API.GetBundlePath) for this.

_Originally posted by @hanzei in https://github.com/manland/mattermost-plugin-gitlab/pull/5_

When mattermost 5.10 is out

[2019-04-15 21:08] manland opened #7 "Send post on labeled issue"
Find a way to prevent author and assignee when issue has updated label

_Originally posted by @hanzei in https://github.com/manland/mattermost-plugin-gitlab/pull/5#discussion-diff-275289274R319_

[2019-04-15 21:40] manland opened #8 "Implement web hook push event"
Original github-plugin impelmentation :

[code]

_Originally posted by @hanzei in https://github.com/manland/mattermost-plugin-gitlab/pull/5#discussion-diff-275288604R365_

[2019-04-16 05:26] hanzei opened #9 "Usa bot account"
Mattermost 5.10 introduces bot accounts. A bot account should be created on startup and used. The setting `Username` an be removed.

[2019-04-16 20:17] #4 closed

[2019-04-16 20:17] #2 closed

[2019-04-16 20:18] manland commented on #2
Will be included in the first version

[2019-04-16 20:18] manland commented on #1
Will be included in the first version

[2019-04-16 20:18] #1 closed

[2019-04-16 20:24] manland opened #10 "Implement pipeline web hook event"

[2019-04-16 20:24] manland opened #11 "Implement tag web hook event"

[2019-04-16 20:24] manland opened #12 "Implement build web hook event"

[2019-04-16 20:27] manland opened #13 "Private repo inactivation"
Check all web hook and commands in relation with gitlab for inactivation for private project

[2019-04-16 20:28] manland opened #14 "Group limitation"
Check if all endpoints and web hook are limited when group limitation is on

[2019-04-16 20:38] manland opened #15 "Add webhook without leaving mattermost"
As a user (before I dev this plugin) I didn't know how to add a project to listen to in github-plugin. I didn't read the readme... meaculpa. But I think to be more easy to use we should add webhook for user. Like that user just `/gitlab subscribe owner/project` and all the magic make the job.

Obviously for group, we need to fetch all projects and add it to every repos. If user create a new projec

[2019-04-24 11:10] hanzei commented on #12
Maybe post a message if a pipeline fails?

[2019-04-24 11:16] manland opened #17 "Add post when a pipeline fail"
Fix this todo https://github.com/manland/mattermost-plugin-gitlab/pull/16/files#diff-f5423ed5cd60421ed7d6afba24d23d86R26

[2019-04-24 11:16] manland commented on #12
Yes I have the same request for this plugin https://github.com/manland/mattermost-plugin-gitlab/pull/16/files#diff-f5423ed5cd60421ed7d6afba24d23d86R26 but i haven't a local runner on my local instance... In need to find a raw json of a failed pipeline to implement it!

I have created a separate issue to not forget https://github.com/manland/mattermost-plugin-gitlab/issues/17

[2019-04-25 19:38] #8 closed

[2019-04-25 19:38] #10 closed

[2019-04-25 19:38] #11 closed

[2019-04-25 19:42] #12 closed

[2019-04-26 20:37] manland opened #19 "Always send refresh for author refresh in web hook"
Add default :

[code]

to all web hook handler to refresh left summary compo for author

[2019-04-29 15:01] DHaussermann opened #20 "Update section 4. of Setup Guide to use BOT Account"
The setup guide should to be updated to use the new BOT accounts functionality. This functionality will be exposed in the UI for 5.12

Section 4. - step ii.
`Create a new Mattermost user, through the regular UI or the CLI with the username "gitlab"`

This will should be undated for 5.12 to instruct the user to navigate to the integrations section and create a new bot instead of a user account that

[2019-04-30 12:27] #13 closed

[2019-04-30 21:31] manland opened #22 "Implement OnConfigurationChange of mattermost"
Need to rebuild a gitlabClient when configuration change if organisation or privateEnable has change

[2019-05-01 20:57] #14 closed

[2019-05-01 21:29] manland opened #26 "Add screenshot in README.md"

[2019-05-01 21:58] manland opened #27 "Update from MSP"
https://github.com/mattermost/mattermost-plugin-sample/
* go mod
* makefile
* coverage

[2019-05-06 12:51] #17 closed

[2019-05-06 12:57] #19 closed

[2019-05-06 13:14] manland opened #29 "Release binary with circle-ci not working"
https://circleci.com/gh/manland/mattermost-plugin-gitlab/99

[2019-05-06 13:44] jasonblais commented on #9
This would be a great one and helps simplify initial admin configuration 👍

[2019-05-06 13:45] jasonblais commented on #26
One option might be below, except for `Gitlab` --> `GitLab`

![image](https://user-images.githubusercontent.com/13119842/57229258-9fc11000-6fe3-11e9-9814-df01263ab294.png)

You can also see an example screenshot here https://github.com/mattermost/mattermost-plugin-github

[2019-05-06 23:11] jasonblais opened #31 "Replace all instances of "Gitlab" with "GitLab""
I submitted a PR that updates the strings in plugins.json, but there may be other occurrences of it https://github.com/manland/mattermost-plugin-gitlab/pull/30

[2019-05-07 12:27] #27 closed

[2019-05-07 12:53] #31 closed

[2019-05-07 13:07] manland commented on #26
Not perfect but we can see left side bar

![Sélection_227](https://user-images.githubusercontent.com/1492516/57301593-afbb1b80-70d9-11e9-9134-809e5cc69a45.png)

When we will deploy one version on a real server, I will take a `real life` screenshot ;)

[2019-05-07 13:22] manland opened #34 "Setting `Enterprise Base URL` is not appropriate for GitLab"
This property is copied from `mattermost-plugin-github` and because in github all on-premise instances are entreprise grade, the name is good. But gitlab can have on-premise without etreprise lincence.

I propose to rename it `Gitlab URL` with `https://gitlab.com` as default value, without optional.

[2019-05-07 13:28] manland opened #35 "Help user to link multiple gitlab instances"
## Problem

If a user want to link to `gitlab.com` and `gitlab.perso.com`

## Today solution

clone repo, change manifest id, recompile, add to mattermost, configure

## Ideal solution

have list in plugin settings

## Proposed solution

In CI we can :
* build normal bin
* change manifest id to add `_2` at end and build
* change manifest id to add `_3` at end and build
* change manifest id to add

[2019-05-07 13:36] manland opened #36 "Add channel header to manage subscription"
With the help of [channel header](https://github.com/mattermost/mattermost-plugin-demo/blob/master/webapp/README.md#channel-header-button-action) user could see what `owner/project` are linked, and add new one.

[2019-05-07 13:45] jwilander commented on #35
I definitely see the benefit of supporting multiple GitLab instances. I'm a little worried about how they'll work together when installing multiple versions of the GitLab plugin (multiple daily update messages, multiple slash commands e.g. `/gitlab todo`, `/gitlab2 todo`).

It might be more work but what about building support for multiple GitLab instances into the plugin? I don't think it would b

[2019-05-07 13:55] manland commented on #35
@jwilander Good catch for slash command :sweat_smile:

Yes definitively the plugin should manage this, but settings are not ready to do that. We can multiply all fields by 3 or 4 but it will be really big for user who just want to connect to gitlab.com. And all fields from instance 2 will be optional but if user miss one required field it will be hard to debug this cases.

If I found time I will d

[2019-05-07 14:16] jasonblais commented on #26
@manland Good point about showing the left hand sidebar.

There's also a command line tool to load sample data to a Mattermost server: https://docs.mattermost.com/administration/command-line-tools.html#mattermost-sampledata

[2019-05-08 20:30] manland opened #37 "circle-ci don't send coverage to codecov"

[2019-05-09 19:53] zegervdv opened #39 "Error when connecting with gitlab"
Wheb running `/gitlab connect` and signing in I get the approval page to authorize access to my account.

After clicking on approve I get a page with only:
[code]
This is the error I see in the mattermost logs:
[code]

[2019-05-09 19:56] #37 closed

[2019-05-09 20:36] manland commented on #39
Hi thanks to use this plugin!

I have tested on my local installation and all is ok.

Could you look at your config ? This error happen when gitlab return an html (mostly due to error page or proxy config).

[2019-05-09 21:33] #26 closed

[2019-05-10 05:53] zegervdv commented on #39
I started again from scratch but I still get the same error.
We do have a proxy on our network, is there a way to get some more debug info?

I also have configuration to sign in via Gitlab in the Mattermost client and that redirect works fine.

[2019-05-10 14:21] zegervdv commented on #39
After restarting Mattermost it works now, not sure what fixed it :)

Sorry for the disturbance and thanks for the plugin!

[2019-05-10 14:21] #39 closed

[2019-05-10 14:25] manland commented on #39
Your welcome ;)

[2019-05-15 21:33] #6 closed

[2019-05-15 21:33] #9 closed

[2019-05-15 21:33] #20 closed

[2019-05-15 21:57] #34 closed

[2019-05-15 21:59] manland opened #44 "Codecov not working in CI"

[2019-05-16 21:09] manland opened #45 "Update release notes and readme with compatibility versions"
https://community.mattermost.com/core/pl/qa1eeyiutpra5dri8574qnws1c
Maybe add compatibility with gitlab too!?

[2019-05-18 23:48] uhlhosting opened #46 "Help me with overstanding the ReadMe steps..."
Unable to find this part nor any identical settings as described here:

I just realized now this is the old readme that applies to github mostly maybe thats why I do not find all menus like described ** updated **

**```
**Go to the settings page of your GitLab group and click on "Webhooks" in the sidebar
Click "Add webhook"** WHERE is this area Gitlab Group??? <=

Change content type to "applicat

[2019-05-19 21:05] manland commented on #46
Hi!
Yes it's from the old github repo... I'm sorry.

In the next version you will not do this anymore #15 i'm finishing dev and test ;)

[2019-05-21 04:44] DHaussermann opened #47 "Missing Validation when attempting to subscribe and providing invalid feature"
Seems like using subscribe without providing a feature will subscribe to all which is good. But, it also seems like there is validation missing when subscribing to an individual feature.

When I include an invalid feature it is ignored and I get a success message. `/gitlab subscribe owner dkh-test-group NotaFeature`

This should provide feedback that the feature was invalid and was ignored.

[2019-05-21 04:48] DHaussermann opened #48 "Missing validation when using unsubscribe"
When the 'unsubscribe' command does nothing because the repo was incorrect, the users still get's a success message.

`/gitlab unsubscribe fake-repo`

The user should receive a message that they are not subscribed to any such repo,

[2019-05-21 04:49] DHaussermann opened #49 "Help command should be available before the user is connected"
Help for the command is provided in the form of a DM from the BOT once connected but, it would also be good to have /gitlab help available to the user before they authenticate to show connect and the other commands.

[2019-05-21 04:52] DHaussermann opened #50 "/gitlab settings provides no feedback"
`/gitlab settings [setting] [value]` provides no feedback in the form of an ephemeral post that anything has happened.

There should be feedback that this change was saved.

[2019-05-21 04:53] DHaussermann opened #51 "Add placeholder text to Gitlab group field in System Console"
On the System Console page, we should add an example to the Gitlab group field? This would make it clear if the field is expecting the URL to the group or simply the name.

[2019-05-21 05:01] DHaussermann opened #52 "Enable Private Repositories not enforced"
It it seems like even when `Enable Private Repositories` set to false, I can subscribe to private repos. I ensured that the plugin was restarted after the flag was set to False and saw the same result.
**note**: It's possible this could just be incorrect feedback returned by the subscribe command

1. Disable plugin
2. Set flag to false
3. Enable Plugin
4. Connect user to GitLab if needed - if need

[2019-05-21 20:19] manland commented on #50
The only possible path which return nothing is a bad action. For example `/gitlab setting notification on` (setting instead of settings). Now you will have a message!

But thank you very much for this issue because I completely missed settings.notifications=off :sweat_smile: It does nothing in the plugin... I fix it with the fix for this issue!

[2019-05-22 21:08] #51 closed

[2019-05-22 21:12] #49 closed

[2019-05-22 21:41] #50 closed

[2019-05-23 18:31] jasonblais commented on #52
Thanks! @manland Something to look into when you have time :)

[2019-05-23 20:02] manland commented on #52
@jasonblais Yes i'm on it ;)

@DHaussermann with this command `/gitlab subscribe owner dkh-test-group/dkh-project2` you subscribe to the group `owner` with the feature `dkh-test-group/dkh-project2`. But I have found a bug if a group is private (`owner` in this case?) we can subscribe! I fix it. And with #47 and #22 all should be ok!

[2019-05-23 22:12] jasonblais commented on #52
@manland You're awesome...thank you!! :tada:

[2019-05-24 21:35] DHaussermann commented on #52
Oops Thanks @manland  good catch. I must have mistakenly left `owner` in there.
And with #47, they'll be better validation for the user to catch a mistake like that :)

[2019-05-28 19:46] #52 closed

[2019-05-28 20:33] #48 closed

[2019-05-28 22:17] #22 closed

[2019-06-03 19:56] #47 closed

[2019-06-03 21:12] #45 closed

[2019-06-03 21:17] manland commented on #46
I have rewritten the readme section of webhook https://github.com/manland/mattermost-plugin-gitlab#installation do you think its better ?

I think I will delay the `auto web-hook` feature after 0.3.0 because i need more time to test!

[2019-06-04 20:40] uhlhosting commented on #46
@manland will try to give it a try to do a setup.

[2019-06-05 20:33] manland opened #61 "Backport github plugin improvements"
- [ ] https://github.com/mattermost/mattermost-plugin-github/pull/103
- [ ] https://github.com/mattermost/mattermost-plugin-github/pull/170
- [ ] https://github.com/mattermost/mattermost-plugin-github/pull/123
- [ ] https://github.com/mattermost/mattermost-plugin-github/pull/137
- [ ] https://github.com/mattermost/mattermost-plugin-github/pull/258

[2019-06-06 00:48] uhlhosting opened #62 "Unable to upgrade/install latest 0.3.0"
Encountered an error when extracting the plugin. Review your plugin file content and try again.

[2019-06-06 11:38] jasonblais commented on #62
@uhlhosting Did you download the tar.gz file from https://github.com/manland/mattermost-plugin-gitlab/releases ? It worked for e

[2019-06-06 11:43] hanzei commented on #62
@manland FYI: You have both a release `v0.3.0` and a tag `0.3.0`.

[2019-06-06 20:08] manland commented on #62
Thanks to report the issue! I have deleted the bad `0.3.0`! I think @uhlhosting you have downloaded the tar.gz of source code instead of [the compiled artifact](https://github.com/manland/mattermost-plugin-gitlab/releases/download/v0.3.0/com.github.manland.mattermost-plugin-gitlab-0.3.0.tar.gz) in v0.3.0 ;)

[2019-06-06 20:08] #62 closed

[2019-06-06 21:18] uhlhosting opened #63 "Refresh icon visibility"
On the
<img width="80" alt="image" src="https://user-images.githubusercontent.com/6324047/59067107-0f5f3f00-88b1-11e9-9eec-f9c7a02047ef.png">  image is github plugin showcase, here is the gitlab plugin:

<img width="104" alt="image" src="https://user-images.githubusercontent.com/6324047/59067188-3b7ac000-88b1-11e9-83bc-bb8bfd92dd32.png">

Also on macOS app, there are glitches on right side next to

[2019-06-06 21:18] uhlhosting commented on #46
I have managed to establish a connection!

[2019-06-06 21:18] #46 closed

[2019-06-06 21:19] uhlhosting commented on #3
I do not mind to work with gitlab, github become a standard, not that is better.

[2019-06-06 21:23] manland commented on #46
Thanks to close old issues :+1: :100:

[2019-06-15 01:09] djphoenix opened #65 "Subgroups support"
What about support for subscriptions on entire subgroups or subgroup projects?

[2019-06-15 07:58] manland commented on #65
Good point! I need to see if I can incorporate it in !15

[2019-06-21 12:15] hanzei commented on #3
@manland Is this a topic any longer?

[2019-06-21 13:01] manland opened #67 "Change plugin id to reflect the move on mattermost github group"

[2019-06-21 13:03] manland opened #68 "Repair test"
When I had merge https://github.com/mattermost/mattermost-plugin-gitlab/pull/64 the ci was not working. And i have introduced a regression in tests... :sweat:

Correction is trivial ;)

[2019-06-21 13:15] hanzei commented on #67
Keep in mind that this will be a breaking change for all existing installations.

[2019-06-21 13:24] manland commented on #67
Yes we need to say it's breaking and delete old `manland...` and report conf to new `github...`!? Changelog is enough not?

[2019-06-21 13:24] manland commented on #67
O yes and data in kvstore will be forgotten... O sh*t... What to do ?

[2019-06-21 13:28] hanzei commented on #67
The KVstore is the big problem.

:cry:

[2019-06-21 13:30] hanzei commented on #67
If you have idea how to support a change of plugin id's in MM, feel free to propose it in the extensions channel.

[2019-06-21 22:59] jasonblais commented on #67
I posted here to start the conversation: https://community-release.mattermost.com/core/pl/g9msf4a4bpy9zgrk1swbw8ocfe

[2019-06-24 10:44] manland commented on #3
No @hanzei you can close it if you want.

[2019-06-24 10:57] manland commented on #44
related to #69

[2019-06-24 13:56] #3 closed

[2019-06-24 13:57] #68 closed

[2019-07-01 14:48] hanzei opened #71 "Caching in ci doesn't work"
On issue with this setup is that the caching doesn't work. The orb expects the `go.mod` file to be at `/go.mod`. But in this project it's at `/server/go.mod`.
I see
![Screenshot from 2019-06-24 07-45-29](https://user-images.githubusercontent.com/16541325/59994440-20030980-9654-11e9-9c82-f85499c2ade0.png)

Possible options:
1. Ignore this problem
2. Move `go.mod` into the root directory
3. Modify t

[2019-07-01 20:22] #44 closed

[2019-07-01 20:26] manland commented on #71
I :+1: to be like other plugins! If others have go.mod at root instead of server I'm ok to move it ;)

[2019-07-01 20:27] hanzei commented on #71
Should I or do you want to take care of this?

[2019-07-01 20:29] manland commented on #71
Yes you should go for it, you seams to be on steroids tonight! I can't stop you 😁 ! And thanks for you help!

[2019-07-02 04:19] #71 closed

[2019-07-04 13:09] manland opened #74 "Configuration change must propagate to client side"
## Reproduction

* I activate the plugin, default config point to gitlab.com
* A user load MM
* I configure it with my.gilab.com
* User connect to my.gitlab.com but top/left widget point to gitlab.com

## Fix

When OnConfigurationChange in server arrive we must prevent all user connected (web socket) to reload conf

[2019-07-05 09:12] manland commented on #74
It seams to be on each first connect.

* User is not logged
* User log
* All icons are linked to gitlab.com instead of private instance
* After f5 links are good and point to private instance

[2019-07-24 00:43] paraita opened #79 "Can't unsubscribe from organization"
Instead of subscribing to a repo I've subscribed to the entire organization. Now I'd like to unsubscribe from the organization because it causes too much noise in our main channel. I can't seem to be able to unsubscribe:

![image](https://user-images.githubusercontent.com/1413759/61756529-199da580-ad58-11e9-8aa7-47cf90728135.png)

I've tried subscribing/unsubscribing from repos and that works, I o

[2019-07-24 12:04] manland commented on #79
Hi @paraita thanks to report this issue!

I'm able to reproduce locally.

@jasonblais @hanzei I'm working on it ;)

[2019-07-24 12:15] manland commented on #79
@paraita easy workaround to unblock your instance : `/gitlab unsubscribe addons_odoo//` (yes double /)

The problem is in kvstore we have `addons_odoo/` instead of `addons_odoo` and if you unsubscribe `addons_odoo/` when we clean the name we have `addons_odoo` so double `//` make the job.

[2019-07-24 18:10] paraita commented on #79
thank you @manland for the workaround ! We are really enjoying this plugin so far :)

[2019-08-09 10:46] hanzei opened #83 "Unitfy webhook event structure"
The structure of the webhook events messages isn't very consistent. E.g.:

Comment on an issue:
[code]

Close issue:
[code]

Opening an issue:
[code]

MR events are structure similarly.

My proposal would be:
1. Start comment and close event with `[$REPO]` and link to the repo
1. Don't show issues numbers at all
1. Don't show timestamps at all
1. Always use the username
1. Add `@` before username

[2019-08-09 11:07] hanzei opened #86 "Re-opening a MR doesn't cause post a message"

[2019-08-09 19:35] hanzei commented on #83
@manland Thoughts on this?

[2019-08-09 20:32] #79 closed

[2019-08-10 09:15] manland commented on #83
@hanzei I agry with you all events are not consistent!

But I don't know if users prefer short version (1 line) or long version (with details)!

I had read somewhere a work in progress about adding more details in a message. With a little info icon at the right of the message and when user chick on it more details are displayed.

With this feature we could make all messages 1 line and hide details

[2019-08-12 09:32] hanzei commented on #83
I'm fine with showing the content for comments or for new issues.

Can you link something about this topic? I haven't heared about this. Still, this might be handy in the future, but not now.

Ideas 1, 4, 5 and 6 are taken from the GitHub plugin. 2 3 are not, but people talked about applying these changes to the GitHub plugin.

[2019-08-14 19:16] jasonblais opened #90 "GitLab mis-capitalized in repo description"
`Gitlab` should be `GitLab`

![image](https://user-images.githubusercontent.com/13119842/63049368-82cf8f00-bea6-11e9-8d45-2f82647fde31.png)

[2019-08-14 20:07] crspeller commented on #90
Fixed.

[2019-08-14 20:07] #90 closed

[2019-08-22 10:32] kominoshja opened #91 "Adding multiple repos won't be reflected"
First of, let me write this appreciation message! We love this plugin.

The problem we have is that when we add the webhook to many repos, the plugin will only show the first repo where the webhook was added. I've tried reenabling the plugin, restarting mattermost, readding the webhoo, but it all fails. Is this a bug or am I doing something wrong?

[2019-08-24 14:42] Vaelor opened #92 "Error with self signed certificates for GitLab"
Setting the plugin up works as expected, `/gitlab connect` works up to the point where I can click
`Authorize`.
After that, I get redirected to a blank page:

`Post https://<my-git-url>/oauth/token: x509: certificate signed by unknown authority`

In the serverlog I can only see the same error:

{"level":"error","ts":1566657710.0417624,"caller":"mlog/sugar.go:23","msg":"can't exchange state","plugi

[2019-08-24 16:19] jasonblais commented on #92
@Vaelor Thanks for trying out the plugin! Two questions:

1 - Have you tried if webhook notifications to Mattermost channels via the plugin works?
2 - Do you get this error when trying to use `/gitlab connect` via the browser (if so, which) or the Desktop App (if so, which version)?

[2019-08-24 16:21] jasonblais commented on #91
@kominoshja Thanks for trying out the plugin!

For this, I want to confirm my understanding -- do you mean you're setting up a separate webhook for each of your GitLab projects/repos?

Or do you mean you use `/gitlab subscribe` command in Mattermost to subscribe one channel to receive webhook posts from multiple GitLab projects/repos?

[2019-08-24 18:26] Vaelor commented on #92
@jasonblais
Regarding the first question - I assume you mean, testing the webhook and see if a log is created?
If so - the only message I receive is the following when I use the 'test webhook' function in gitlab:

`{"level":"info","ts":1566670803.9932396,"caller":"mlog/sugar.go:19","msg":"new msg","plugin_id":"com.github.manland.mattermost-plugin-gitlab","message":"","from":"vaelor"}`

The same er

[2019-08-24 21:12] jasonblais commented on #92
Thank you for the additional context! Seems like the webhook part would work - have added this to triage for our integrations team to take a closer look after the weekend.

[2019-08-26 10:37] manland commented on #83
Hi @hanzei sorry for delay I was in holidays ;)

Sure https://community.mattermost.com/core/pl/rp7aephtqbr5p8rsmpoq86g49c

@jasonblais have you created issue related to this idea? Do you know if something as started about that?

[2019-08-26 10:55] manland commented on #92
@Vaelor Thank you to report this bug! To unblock your instance, you can add the self-signed certificate to your local trusted CA [example for linux](https://unix.stackexchange.com/questions/90450/adding-a-self-signed-certificate-to-the-trusted-list).

@jasonblais to accept auto-signed ssl certificate by :

* adding a conf to authorize auto-signed certificate
* if the conf is true add this [lines](

[2019-08-26 11:58] jasonblais commented on #83
@manland Are you referring to work like this: https://github.com/mattermost/mattermost-plugin-github/pull/103

Hope you had a nice holiday! :)

[2019-08-26 11:59] jasonblais commented on #92
@manland should we create a ticket for the following?

[2019-08-26 12:04] Vaelor commented on #92
@manland That works - I thought I already configured that on the server, must have missed it :sweat_smile:

Not sure if this is still an issue then, but since the gitlab login part works without adding the cert authority to the system I would say yes.

[2019-08-26 18:47] manland commented on #83
@jasonblais not exactly this, but I wait to see this on community! I love it!

I spoke about that https://community.mattermost.com/core/pl/rp7aephtqbr5p8rsmpoq86g49c but maybe it hasn't much more attraction for other plugins?

Thanks holidays was really good 😎🎉😀👌

[2019-08-26 18:50] manland commented on #92
@vaelor happy to hear 😋 thanks to give feedback!

@jasonblais I think this issue is good enough 0/5 maybe adding some labels could help community

[2019-08-27 10:42] manland commented on #83
Ok yes, got it too! The implementation in the github-plugin is not exactly what I was thinking, but ok I think I have an idea to make it work. When I have finished #53 i'll give it a try ;)

[2019-09-02 19:53] kominoshja commented on #91
Hi again @jasonblais

Just to confirm yes, I'm setting up the same webhook on different repos. It could be possible that I am doing something wrong though

[2019-09-10 22:39] ratancs opened #96 "mattermost channel should show helpful text when linking to private repos"
A a receiver of a link, I see a sign in text when my colleague shares link of a private repo.

![alt text](https://gitlab.com/gitlab-org/gitlab-ce/uploads/125e6142399bfe384509acee011a2cd7/Screenshot_from_2016-01-14_11-21-05.png "gitlab sign in")

[2019-09-16 15:12] ohporter commented on #83
Agreed, and this is actually the reason why my company doesn't yet use the subscribe feature in this plugin. The gitlab.com Mattermost integrations generate a very consistent (and arguably visually pleasing) event post...although at the expense of flexibility of the plugin's subscribe command.

If there's ever a policy decision on what users prefer, I would recommend that it end up as a configurab

[2019-09-18 12:28] last-partizan opened #98 "Link to commits includes extra newline."
Hello.

Right now push notify looks like this:
![Screenshot from 2019-09-18 15-23-35](https://user-images.githubusercontent.com/301015/65148201-6637f100-da28-11e9-8bba-97f01bd20786.png)

Is it becouse commit.Message contains unexpected trailing newline? is someone has similar issue, or is it just me?
@hanzei can you take a look at this?

https://github.com/mattermost/mattermost-plugin-gitlab/blob/

[2019-09-18 17:20] hanzei commented on #98
@last-partizan Does your commit message return a line break?

[2019-09-18 18:22] last-partizan commented on #98
@hanzei it has no linebreaks at all.

[2019-09-19 10:02] CarlDemus opened #99 "Subscribe to repository with subnamespace"
Hello,
we using this plugin at our company, we encounter a problem with one of our repository.
This repository have a particularity, it contain a subnamespace.

`/gitlab subscribe owner/repo/subnamespace `return and error : invalid group

[2019-09-20 04:58] aalasolutions opened #101 "Private hosted GitLab path is wrong"
Thanks for nice plugin.

I have integrated it with my self hosted git, it worked and gave me issues etc.

New icons are added on the bottom left with proper count. But when I click on them it opens gitlab.com link instead of my self hosted URL.

[2019-09-20 05:39] hanzei commented on #101
Would you please test if reloading solves your problem?

[2019-09-20 05:58] aalasolutions commented on #101
Oh right,, it worked. Thanks

[2019-09-20 05:58] #101 closed

[2019-09-20 08:40] Mracobes9 opened #102 "Subscribe channel to events"
Hi. How can i subscribe channel to event from repository or group  ? I don't understand it from manual

[2019-09-20 08:57] manland commented on #99
@CarlDemus `subnamespace` is like `group`?

Could be a duplicate of https://github.com/mattermost/mattermost-plugin-gitlab/issues/65?

[2019-09-20 08:58] manland commented on #29
@hanzei can we close this?

[2019-09-20 14:34] #29 closed

[2019-09-20 16:31] CarlDemus commented on #99
Maybe

[2019-09-25 13:46] samtech09 opened #103 "Encountered an error connecting to GitLab"
I followed installation procedure as mentioned in readme.

But when i issue `/gitlab connect` command, it always show following error

[code]
I checked `System Console -> Log` but could not find there any clue.
How to check what is going wrong

[2019-09-26 05:17] samtech09 commented on #103
After looking at code, i found that this error should occur if gitlab Url is not set, but it is set in config.
Here is my config
[code]

[2019-09-26 08:14] samtech09 commented on #103
Issue resolved, it was complaining due to missing SiteUrl i.e. MatterMost SiteUrl set under `System Console -> Web Server`
After setting it, it started working.

[2019-09-26 08:14] #103 closed

[2019-09-29 12:07] rgarrigue opened #104 "Still beta ?"
Hi

I read beta in the README and 1.0.0 is released. WHat's the status atm ?

Best regard,

[2019-09-29 12:15] hanzei commented on #104
cc @aaronrothschild

[2019-09-30 10:32] hanzei commented on #98
The code looks fine to be and the test are also fine. @manland Do you have any idea why this is happening?

[2019-09-30 11:15] manland commented on #98
@last-partizan have you experimented this in other commit?

The [unit test](https://github.com/mattermost/mattermost-plugin-gitlab/blob/master/server/webhook/push_test.go#L26-L30) is good => no break line in commit == no break line in message.

[2019-09-30 15:21] last-partizan commented on #98
@manland Yes, this happens in every commit.

Looks like in real life, push webhook contains extra newline in the end of the message (and can contain newlines in general).

Here is one my commit
[code]

And here is another:
[code]

[2019-10-01 12:55] levb commented on #99
It does appear a duplicate of #65, closing in favor of it.

[2019-10-01 12:55] #99 closed

[2019-10-01 12:57] levb commented on #102
Seems like a documentation ticket. Making this help wanted in case someone can clarify it in the README. cc @aaronrothschild

[2019-10-02 13:27] aaronrothschild commented on #102
Thanks, I've put this on my "to document" list.  @Mracobes9 Can you send me the screenshot of the `/gitlab help` command that you see?

[2019-10-02 13:31] DHaussermann opened #107 "Resolve error in make instructions"
When trying to run the full make file I get the following error
[code]
This should be resolved before we create a new release of the plugin.

[2019-10-02 13:47] aaronrothschild commented on #104
@rgarrigue I'll update the docs this week, sorry for the confusion.

[2019-10-02 14:44] hanzei commented on #107
@DHaussermann Can you elaborate a bit? The log you posted doesn't show an error message. Maybe `errcheck` was still running?

[2019-10-09 19:54] octoquad commented on #98
I have this issue as well with Gitlab 12.3.5 and Mattermost 5.14.2. Commit messages have this trailing new line, but commit messages generated by Gitlab such as "Merge request #1 <Name> was merged by user" don't have the new line.

Additionally, if formatting your commit messages like:

[code]

The plugin formats it as

[code]

From the mattermost log:
[code]

The Gitlab hook JSON data also shows

[2019-10-09 20:05] octoquad commented on #98
https://github.com/mattermost/mattermost-plugin-gitlab/blob/4990fd6c59f7854bd62fc104b1659edd257583bf/server/webhook/push.go#L56

Regarding the `\n-` in this line of code, this always assumes that the message is going to be a single line or paragraph. Perhaps it would be better to do:

[code]

Unfortunately, I'm not sure if the change above breaks any backwards compatibility with older versions of

[2019-10-09 20:13] manland commented on #98
@octoquad nop, your right, it's a bug from this plugin. It will work with oldest version of gitlab because :

* [commit](http://commit.com)

WIll become :

* commit [view Commit](http://commit.com)

A PR is welcomed of course!

[2019-10-09 21:00] octoquad commented on #98
@manland OK, I have zero experience with Go, but I'll give it a bash tomorrow :)

[2019-10-10 14:08] MehdiNabi8000 opened #109 "Base url not use ?"
Hi,

I use gitlab 12.3.5-ee and integrated mattermost on my own server.

I set up the plugin using the install guide on my on prem gitlab application, and I am always sent to gitlab.com when clicking any button or typing commands.

The only commands that is run on my gitlab instance is /gitlab connect, but then all the buttons or commands send me to gitlab.com instead of my https://gitlab.xxxxxx.c

[2019-10-11 09:08] last-partizan commented on #98
Maybe it's better to only use first line of commit? just like github/gitlab does for multiline commit messages.

It would be better than

[code]

[2019-10-11 13:39] octoquad commented on #98
With the changes I pushed it will actually be
[code]

For simpler messages it:

[code]

[2019-10-15 08:25] MehdiNabi8000 commented on #109
Hi, I tried again today using the icon in mattermost, and I am redirected to the right gitlab instance.

I guess cookies or web session stuff were involved. I did not change the configuration. I will not close the issue but feel free to do it :)

[2019-10-15 09:43] hanzei commented on #109
This is a duplicate of https://github.com/mattermost/mattermost-plugin-gitlab/issues/74

[2019-10-15 09:43] #109 closed

[2019-10-18 13:05] tmuka opened #111 "archived project issues appear in the bot daily digest /gitlab todo assignments"
I could be understanding it wrong, but to me an archived project is inactive/frozen in time, so I don't expect to see assignments list include open issues from archived projects.   Can these be disabled or filtered out?

[2019-10-18 22:13] rugk opened #112 "How to subscribe to subgroups?"
I have a group called `group/subgroup/repo`, so a subgroup in a group.
But `/gitlab subscribe group/subgroup/repo` does not work and just returns `Unable to retreive informations`.

How can I do that?

[2019-10-19 12:26] hanzei commented on #112
Subgroups are currently not supported. Please see https://github.com/mattermost/mattermost-plugin-gitlab/issues/65 for the ticket that tracks this.

[2019-10-19 12:26] #112 closed

[2019-10-22 08:00] #98 closed

[2019-10-22 16:47] octoquad commented on #91
@kominoshja I've set mine up the same way. Every repo over different namespaces has the web hook enabled, but you will always have to subscribe to the repo (`/gitlab subscribe namespace/repo`) once the web hook was added under the channel.

Unfortunately, GitLab has a service template, but it only takes a username, not a token. That would be a winner for multiple repos if it also accepted a token

[2019-10-28 11:14] kominoshja commented on #91
@octoquad sadly, I can't `/gitlab subscribe` because I run into #65

[2019-11-04 13:30] ashishbhate commented on #86
@hanzei this is feature I'd like to have. Please assign to me and I'll work on it.

[2019-11-04 13:31] hanzei commented on #86
Awesome, thanks @ashishbhate :+1:

[2019-11-09 16:54] #107 closed

[2019-11-12 13:11] levb commented on #65
@manland are you intending to work on this feature, or should we make this as an "Up for grabs" ticket?

[2019-11-12 13:14] manland commented on #65
@levb you can add an "Up for grabs" label, it's not directly linked to #99 and can be made independently.

[2019-11-25 09:07] hardysim opened #121 "GitLab Webhook not showing up in Mattermost"
I've followed the instructions in the readme here, set up the plugin in mattermost, connected my user etc. I can see the gitlab-bar with the counters on mattermost correctly but it seems that no webhooks are showing up in mattermost when sent by gitlab.

I've created a webhook in a gitlab-project using `https://mattermost.my.domain/plugins/com.github.manland.mattermost-plugin-gitlab/webhook` and t

[2019-11-30 18:42] larkox commented on #74
May I take this one? First time contributing to plugins, so I may need some extra help 😊

[2019-12-02 08:40] manland commented on #74
@larkox yes of course go for it! And ask any question you have here or on https://community.mattermost.com (channel plugin-gitlab or developer-toolkit) ;)

[2019-12-03 14:42] levb commented on #121
@hardysim I don't use the plugin, but I _believe_ that you need to `/gitlab subscribe` to get the notifications posted into a channel. Did you do that?

[2019-12-03 14:55] hardysim commented on #121
Hmm, so I need to set up the webhook for the project and each user needs to `/gitlab subscribe`?

---

When trying to subscribe, I receive an error. Using `/gitlab subscribe android` (`android` is a group on my GitLab server) results in:

The same happens for `/gitlab subscribe android/project1` etc.. Any ideas?

[2019-12-05 17:14] impoetk opened #123 "labels dont show up in subscriptions for merge requests"
label events not popping up in merge requests, also would be great if we could subscribe to more than one label

[2019-12-10 17:37] kop commented on #65
I'll take this one.

[2019-12-12 19:03] kop commented on #121
I also see some strange behaviour related to webhooks and I may have found the reason, but need an extra pair of eyes here, maybe I'm missing something.

@manland, please correct me if I'm wrong,

In https://github.com/mattermost/mattermost-plugin-gitlab/blob/master/server/plugin.go#L152

[code]

But in https://github.com/mattermost/mattermost-plugin-gitlab/blob/master/server/plugin.go#L167

[code

[2019-12-13 07:49] hardysim commented on #121
Just to make sure: How do I subscribe to projects or groups? Is `/gitlab subscribe android/project1` correct or do I need to do more? Maybe I missed something during the setup?

[2019-12-13 07:53] kop commented on #121
@hardysim, If webhook(s) are already configured, then yes, `/gitlab subscribe android/project1` is all you need. Type `/gitlab help` for more commands.

[2019-12-13 08:17] hardysim commented on #121
I've just activated "Enable Private Repositories" and now it's working. I can subscribe to my repo (it was set to private in gitlab so it's my fault).

---

But it seems like not all events are received. When sending all the test-events via gitlab (on the "edit webhook page") only a few are received in mattermost.

At gitlab, I see the "Recent Deliveries" are all green (200) but one (Confidential

[2019-12-16 11:04] manland commented on #121
@kop wouhaou good catch! I create a dedicated issue now! Thank you very much ;)

@hardysim it's definitively not normal. I have tested (manually and with unit test) all events. But I haven't tested trigger them with the UI in settings. Maybe a field is empty or something like that... Can you look at logs please?

[2019-12-16 11:05] manland opened #126 "Webhooks MM userId not GitlabUserId"
WebHooks received GitlabId bu we use an internal method which look for MMUserID. Change this behavior by storing gitlabId in kvStore or use loginGitlab wich is already stored in kvStore.

----

I also see some strange behaviour related to webhooks and I may have found the reason, but need an extra pair of eyes here, maybe I'm missing something.

@manland, please correct me if I'm wrong,

In https:

[2019-12-16 11:07] manland commented on #126
@hanzei please feel free to update description and/or labels.

[2019-12-16 14:38] hardysim commented on #121
Hmm, where do I find the logs? When I just "use" gitlab normally and check, which actions trigger messages in mattermost, it seems like the same issues are missing.

E.g. I create a new issue in gitlab but there's no message in mattermost. When I finish its MR and the pipeline is running, I get a message in mattermost (but still, only the pipeline for the merge-into-master, not the on-every-commit

[2019-12-18 09:59] #86 closed

[2019-12-19 09:03] hardysim commented on #121
I'v tested subscription by using gitlab (not via the tests on the webhook-details-page). When subscribing in mattermost, there are the following options:

- issues ✔️
- merges ✔️
- pushes ✔️
- issue_comments ✔️
- merge_request_comments ❌
- pipeline ✔️
- tag ✔️
- pull_reviews
  - could not test since using the free gitlab version
- label:"<labelname>"
  - not sure about this
  - will this react to

[2019-12-19 14:06] #74 closed

[2019-12-22 19:05] #65 closed

[2019-12-22 19:34] mickmister opened #128 "Recursively subscribe to subgroups"
With https://github.com/mattermost/mattermost-plugin-gitlab/pull/125, the user can now subscribe to sub-groups using:

`/gitlab subscribe parent-group/sub-group/sub-group-project`
and
`/gitlab subscribe parent-group/sub-group`

However, subscribing to `parent-group` does not receive updates for any projects under `parent-group/sub-group`.

The task here is to be able to use a wildcard `*` to subsc

[2019-12-23 09:11] manland commented on #128
Maybe we can add `**` to subscribe to all sub-projects?

Example :

* `/gitlab subscribe parent-group/sub-group/sub-group-project` : only `sub-group-project` events
* `/gitlab subscribe parent-group/sub-group` : only `sub-group` events
* `/gitlab subscribe parent-group/*` : all sub-groups events
* `/gitlab subscribe parent-group/sub-group/*` : all sub-group-projects events
* `/gitlab subscribe par

[2020-01-06 03:48] bkarlson opened #129 "sidebar buttons still use gitlab.com as base url"
Mattermost Version: 5.17.1

After successfully configuring and enabling the plugin, I can see sidebar buttons with correct notification numbers, but leading to gitlab.com instead of our company gitlab instance URL.

In settings URL is set correctly (otherwise plugin won't be able to connect to our gitlab), but sidebar buttons seem to ignore this setting.

[2020-01-06 08:34] manland commented on #129
@bkarlson thanks to have taken time to open this issue ;)

This is a duplicate of #74 which is already fixed (but not deployed). If you return on your mattermost url and make a refresh (F5) you should see good url ;)

Please feel free to reopen or to open another issue in case it's not working.

[2020-01-06 08:34] #129 closed

[2020-01-07 15:59] mickmister commented on #128
@manland Sounds good to me, though can you explain the difference between a group's events and all of its projects' events? Namely the difference between `/gitlab subscribe parent-group/sub-group` and `gitlab subscribe parent-group/sub-group/*`

[2020-01-07 18:28] manland commented on #128
@mickmister I don't often use groups but what I know it's related to issues. If you create an issue on a group it's not the same as creating issue in a project inside a group. So if I listen sub-group I will receive creating issue in it. But listening sub-group/* I will receive event only for a new issue in a sub-project

[2020-01-09 12:52] aaronrothschild opened #130 "Subscribe Success Message: Remind user about webhook setup needed"
After setting up a subscription - users may not be aware or forget that they need to setup the webhook on their repo to point to MM.

If the subscribe message made a note such as "Reminder: Setup a webhook from {repo_name} to point to `ServerURL/gitlabpath` for the subscription to work".  Optionally include a link to the instructions: https://github.com/mattermost/mattermost-plugin-gitlab#step-3-c

[2020-01-10 08:33] manland commented on #130
Yes before #15 it's a very good idea!

And if possible i'm for adding an option to display the url with private token. Because in my company not all user which use plugin have admin access and so can't add a webhook by their own.

[2020-02-03 19:53] ericjaystevens commented on #130
I would like to work on this.

[2020-02-03 19:56] gabrieljackson commented on #130
Thanks @ericjaystevens! Let us know if you need help with anything.

[2020-02-05 01:10] ericjaystevens commented on #130
@manland My take on the private token is we should not display it, at least without the administrator explicitly configuring it to be shared. Some users may be using the secret to limit requests or using it in unexpected ways. I agree we need to make it more convenient, but we can achieve that with #15.

I love the idea of giving some useful guidance about the need to create a webhook after a succ

[2020-02-05 18:11] ericjaystevens commented on #15
I'll take this.

[2020-02-05 18:27] manland commented on #15
@ericjaystevens I have started the Dev in #53 but I'm blocking because of missing feature in gitlab (API to add webhook for group). A contributor has started to work on it last week at gitlab... Wait and see!

[2020-02-23 23:21] theo-o opened #135 "Broken commit links for pipeline messages due to messages spanning multiple lines"
Currently, for messages triggered by changes in the GitLab pipeline status with a commit message spanning multiple lines, the link to the commit message is broken if the text spans multiple lines. For example, if the commit message is the below:
[code]

the plugin formats the resulting message as below
[code]

Since this issue is similar to https://github.com/mattermost/mattermost-plugin-gitlab/is

[2020-02-25 18:07] manland commented on #15
@ericjaystevens yes IMHO it's a good addition and with #36 it's a perfect fit for user to discover what is in sync and what not! I'm sorry I haven't time to do it (baby come 😅). If you want to continue #53 you are more than welcome!

[2020-03-03 21:21] jfrerich opened #138 "When enabling the plugin, add a message to notify that it hasn't been configured properly"
#### Summary
The Gitlab plugin allows enabling even when the plugin is not configured with the OAuth client id, OAuth client secret and webhook secret which are essential for the plugin to work properly. However, enabling the plugin on the System Console > Plugin Management page, without any of those fields set up correctly doesn't give any indication of those requirements and says "This plugin is

[2020-03-07 16:09] hanzei commented on #91
@kominoshja https://github.com/mattermost/mattermost-plugin-gitlab/issues/65 is now fixed. Does this help you?

[2020-03-09 22:47] ericjaystevens commented on #104
Should we resolve the breaking change in [issue 67](https://github.com/mattermost/mattermost-plugin-gitlab/issues/67) first?

[2020-03-11 03:16] #130 closed

[2020-03-17 12:57] NeroBurner opened #141 "Assignments of archived projects in `/gitlab todo`"
when using `/gitlab todo` command assignments for archived projects are included. The gitlab interface does not show these issues

to reproduce:
- create a repository
- create an issue
- assign yourself to the issue
- archive the project

the assigned issue should be removed in the gitlab UI, but is still part of the `/gitlab todo` output

[2020-03-19 18:53] #104 closed

[2020-03-19 18:54] hanzei commented on #104
@ericjaystevens I don't think it's worth breaking the plugin ID. It would mean, every admin would have to reconfigure the plugin and every user would have to re-connect.

[2020-03-24 03:58] attzonko opened #142 "How to avoid "Token was revoked:" in Mattermost Logs"
We are seeing lots of the following "errors" in our Mattermost logs and I am not sure if the information is truly an "error" or just informational:

` mattermost[59025]: {"level":"error","ts":1585021388.8111477,"caller":"mlog/sugar.go:23","msg":"unable to list merge-request where assignee in GitLab API","plugin_id":"com.github.manland.mattermost-plugin-gitlab","err":"GET https://gitlab.example.com

[2020-03-24 21:22] ffuentes opened #144 "Filter issue_comments by label"
### Feature request

Display content related to *label* subscriptions only. Now when someone subscribe a repo by filtering issues by label, every comments get published even if the issues haven't the *label*.

For example I subscribe a repo like this:

[code]

I would espect that only issues created and closed with the label *doing* will be notified, including comments. But, every comment from all

[2020-04-01 15:50] grisuthedragon commented on #121
I set up the plugin today and the same problem appears. I did every as described in the readme for an internally visible project and nothing gets recieved in the channel, where I subscribed the project.
The test of the webhook replies with HTTP 200 sucht that it is at least recieved by the plugin properly.

Is there any advance on this problem? Because we do not want to use the incomming webhook w

[2020-04-01 18:14] CaerphillyMediaLtd opened #146 "Subscriptions don't work - subscribes fine but doesn't post anything after that?"
We're using:

I've set it up with an account just fine, have registered the application, etc. I invited the gitlab account to the team and channel. Then done:

    /gitlab subscribe whatever-group/thisthat pushes,issues,issue_comments

Which is successful, if I enter an invalid repository then it errors, so it's definitely connected. But whenever a new push/issue/comment is made nothing happens. I

[2020-04-01 20:16] ericjaystevens commented on #146
@CaerphillyMediaLtd did you create and test a project hook in GitLab?

https://github.com/mattermost/mattermost-plugin-gitlab#step-3-create-a-gitlab-webhook

[2020-04-02 12:41] cpaulik commented on #121
We are having problems getting private notifications for e.g. mentions or assignments. Is this related?

[2020-04-03 10:13] cpaulik opened #147 "No messages for some personal notifications like comments and modifications of issues/MR"
We've just setup Mattermost on our self hosted Gitlab instance and the connection seems to work fine.

- Gitlab 12.9.2
- Mattermost  5.20.2

While I do get the personal daily summary and also the status bar in the sidebar some critical features seem to not be working:

- We can see no messages in Gitlab if someone `comments on or modifies one of your merge requests/issues`

It does however work if

[2020-04-06 09:27] cpaulik opened #148 "Support for wiki events"
We would like to setup a channel which notifies people if the wiki of a Gitlab project is updated.

It seems this is not an option at the moment since `/gitlab subscribe` does not support wiki events at all.

[2020-04-07 14:11] teake opened #149 "GitLab MR reference prefix symbol is !, not #"
The plugin uses `#` as the prefix for MR references, e.g. here:

https://github.com/mattermost/mattermost-plugin-gitlab/blob/881e6321d2d8b4c509f55958d31e9ea246af71f8/server/webhook/merge_request.go#L70-L79

This seems to be inspired by GitHub, where the pound can reference both issues and PRs.

But in GitLab MRs are actually referenced by `[<group>/<project>]!<MR_IID>`, not `[<group>/<project>]#<M

[2020-04-08 10:43] maruTA-bis5 opened #150 ""PR" exists in welcome message from plugin"
In the welcome message from GitLab plugin, there are two `PR` exists in "Sidebar Buttons" section.
![image](https://user-images.githubusercontent.com/1310661/78770210-3d2d7c80-79c9-11ea-8d30-bdbe4a6399da.png)

`PR` should replace to `MR`.

[2020-04-08 21:02] octoquad opened #152 "New issue and Issue labeled messages have incorrect heading size"
When a  new issue is created the third row of information uses the level 1 header instead of a level 6 header. This also applies to the issue labeled event.

An example of this would be

-------
#### Issue Name
##### namespace/project
# issue labeled `Bug`, `Help Wanted` by octoquad on 2020-04-08 23:01:06 +0200

Description of issue.

-------
When it should be

#### Issue Name
##### namespace/proj

[2020-04-09 09:34] gvcgael commented on #146
I have exactly the same problem.

I'm using a Group webhook (One webhook for all the subgroups and subprojects).
When I use test the `push tag event`, the bot correctly notify about the tag in the channel.

When I tag one of my repo, its doesnt display anything in channel.

[2020-04-10 13:43] gvcgael commented on #146
After some deeper testing, this plugin is only compatible with project hooks, not group hooks.

[2020-04-11 12:59] iomodo commented on #142
Hey @attzonko, it is truly an error. User is not authorized and every Hook will output this error.
I noticed `gitlab.example.com` url in the logs. The actual url is just changed right?

[2020-04-11 13:26] iomodo commented on #147
Hi @cpaulik, if configured correctly, commenting on issues and merge requests should work fine. Can you recheck what events are triggered?
If everything is OK with the configuration, can you please upload the error logs?

[2020-04-13 15:46] #135 closed

[2020-04-14 12:12] cpaulik commented on #147
In the log I get the following when I e.g. somebody comments on a issue I have created:

`{"level":"info","ts":1586866092.0062203,"caller":"mlog/sugar.go:19","msg":"new msg","plugin_id":"com.github.manland.mattermost-plugin-gitlab","message":"[root](https://gitlab.vandersat.com/root) commented on your issue [cpaulik/todos#4](https://gitlab.vandersat.com/cpaulik/todos/-/issues/4#note_29234)","from"

[2020-04-14 13:24] aaronrothschild commented on #146
Follow up: Is there a release coming out for Gitlab that has Group Webhooks for non-ee edition?

[2020-04-15 04:21] attzonko commented on #142
You are correct the real URL is indeed different, I changed it to avoid posting it publically.

[2020-04-15 08:08] bbodenmiller opened #156 "clarify how average user can use plugin without access to webhook secret"
https://github.com/mattermost/mattermost-plugin-gitlab#step-3-create-a-gitlab-webhook makes it sound like you must add webhook and secret to every single GitLab project you care about. How is an admin supposed to enable this plugin and expect hundreds of users to use it with various GitLab projects the admin doesn't even know about?

[2020-04-15 12:22] manland commented on #156
Yes we agree on that and we work on a fix #137 thanks to @ericjaystevens ;)

[2020-04-15 16:45] iomodo commented on #147
@cpaulik I can't reproduce this.
Are there any error logs worth noticing?
When commented on an issue, notification is not delivered to the issue assignees as well as to the issue author, right? Are channel notifications also missing?

[2020-04-15 18:08] wbaeck opened #157 "Unable to connect"
Hi

We are running Mattermost 5.21 and want to use the gitlab plugin. I followed all the steps from the readme and I'm able to have the Gitlab icon show up in Mattermost. When I click on it the authorization confirmation pops up. After selecting the "Autorize" button I get the following error message:
`Post https://{gitlab-server-url}/oauth/token: proxyconnect tcp: EOF`

I tried all different ways

[2020-04-16 12:24] cpaulik commented on #147
I've assigned myself to the issue and commented again and there is nothing from the gitlab bot.
Log output is still only this:

[code]

Subscribing to a `issue_comments` in a channel works.

I get the following two entries in the log

[code]

Just to make sure. I've not configured anything special for the personal notifications other than the webhook on the project.

We are using mattermost includ

[2020-04-16 12:27] cpaulik commented on #147
I don't see any error messages that seem relevant. Only one warning from this plugin but that seems to be clear

[code]

[2020-04-16 16:00] manland commented on #147
Hi thanks for use this plugin!

It's by design: if you are the creator of an event, you don't need to receive a notif about it :shrug:

https://github.com/mattermost/mattermost-plugin-gitlab/blob/master/server/webhook/webhook.go#L60

[2020-04-16 17:20] cpaulik commented on #147
There are two  Users involved in my test here. One is cpaulik and the other is root. In any case it also does not work with other users comments. I’ve tested it with a colleague before.

[2020-04-16 17:27] amyblais commented on #157
FYI @manland or @iomodo

[2020-04-16 20:27] manland commented on #157
No sorry I have no idea what the issue is :'( Maybe ask to github plugin developers because lot of code here is a fork from github-plugin? Or maybe a network people from MM?

[2020-04-17 09:31] wbaeck commented on #157
Thanks for your quick reply. Will check at github-plugin!

[2020-04-18 13:21] wbaeck commented on #157
Finally I was able to solve this issue.

It was a config issue. Because we configured an outbound proxy to access the Marketplace we had to exclude our internal gitlab server from this with "NO_PROXY" according to https://docs.mattermost.com/install/outbound-proxy.html.

But thanks for reply.

[2020-04-18 13:21] #157 closed

[2020-04-21 14:41] bk138 opened #158 "Issue count in sidebar header is wrong"
I have searched the other issues, but could not find an answer.

The sidebar header of our local MM instance shows 20 open issues for my user, but in reality on our local gitlab I have some 39 issues open. Is this a display limit of the sidebar?

Please let me know how to debug the situation, willing to help here :-)

[2020-04-22 12:34] jurgenhaas opened #159 "Assignment list only contains issues that I've created myself"
From all the assigned issues to myself, the plugin only lists those that I also created myself. All those that have been created by other GitLab users and later being assigned to myself, are not included in the list.

Please let me know if you needed more information to reproduce this, but the effect is just exactly so without any exception.

[2020-04-22 13:17] grisuthedragon commented on #121
I figured out that the plugin actually works, but not with the Webhook-Test button in gitlab. After creating the webhook I clicked on the test button and checked several events and nothing happend. I created and issue and I got the message in mattermost. So it should be fixed, that the tests from gitlab work as well.

[2020-04-22 13:26] grisuthedragon opened #160 "Sidebar hides aftter some time."
I use as well the Desktop-Mattermost client and the web interface in both the sidebar is gone after some minutes or within a few hours, which is anoying. The current workaround is to reload the webpage or the desktop client. Why does this happen?

I use:
 - Version 1.1.0 of the plugin
 - Mattermost 5.20.1
 - Desktop Client:  4.4.0 / Linux

[2020-04-22 15:12] iomodo commented on #147
@cpaulik I'm not sure what might be the problem here. My suggestion would be to:
1. re-check that [comments](https://docs.gitlab.com/ee/user/project/integrations/webhooks.html) is selected here
2. run `/gitlab settings notifications on`

If you still have problems reach me out at the https://community.mattermost.com, let's schedule 1-on-1 I'll try to debug.

[2020-04-22 18:15] iomodo commented on #146
@CaerphillyMediaLtd @gvcgael if you are the author of the event you will not be notified. Is it the case?

[2020-04-22 18:35] iomodo commented on #142
@attzonko did you figure out cause of the errors?

[2020-04-22 21:04] ewwollesen opened #161 "Subscribe not working on internal repos"
Mattermost version: 5.22.0
GitLab version: 12.8.7-ee
GitLab plugin version: 1.1.0

If we have a repo set to "internal" and we attempt to subscribe to it, we get the following error: `Requested resource is private.`

And that is with `"enableprivaterepo": "True"` in the `config.json`

Does the plugin not work with internal repos on EE, or do we have an issue with our setup? If we set the repo as pu

[2020-04-23 18:49] #150 closed

[2020-04-23 19:34] medexdev opened #162 "Question: Is it possible to subscribe issues related events to a separate channel?"
Similar to Gitlab Mattermost service (from Gitlab), is it possible to customize which events are posted to which channels in mattermost? I'd like to have a separate channel for issues. Currently, all notifications come in gitlab channel.

[2020-04-23 20:30] DHaussermann opened #163 "White space is missing before "view commit""
White space is missing before "view comment". This happens for several events including commits and pushes.
I believe this may be a regression from the current release. A change was put in to to fix "View Commit" for multiple lines of text.
![GitlabViewComment](https://user-images.githubusercontent.com/35588783/80146255-9841a080-857f-11ea-9fba-c5f51dd4240e.PNG)

[2020-04-24 00:43] ewwollesen commented on #161
You can disregard this. I had `"enableprivaterepo": "True"` which is a string and not a boolean.

`{"level":"info","ts":1587684650.6029558,"caller":"go-plugin@v1.0.1/stream.go:15","msg":"2020/04/23 18:30:50 LoadPluginConfiguration API failed to unmarshal: json: cannot unmarshal string into Go struct field configuration.EnablePrivateRepo of type bool","plugin_id":"com.github.manland.mattermost-plug

[2020-04-24 00:43] #161 closed

[2020-04-24 11:09] paulkitt commented on #146
Same problem here! Pretty sure I configured everything right.
Created a gitlab user with owner right in our gitlab group and connected the plugin as OAuth application. Then added the webhooks with that user. Displayed now as Project Hooks:
[code]
Then I connect with my normal mattermost acc my normal gitlab accout and subscribe in seperate channel `/gitlab subscribe https://gitlab.com/bla/services

[2020-04-24 12:41] paulkitt opened #164 "Encountered an error getting your to do items"
After setting up the plugin everything works fine except the todo function.
When calling `/gitlab todo` I get `Encountered an error getting your to do items` in the UI.

In the Mattermost log the plugin is throwing two errors almonst every minute:
* ` {"level":"error","ts":1587731687.333412,"caller":"mlog/sugar.go:23","msg":"can't get todo in command","plugin_id":"com.github.manland.mattermost-plu

[2020-04-29 18:24] octoquad commented on #163
Hmm, that's quite interesting. It's actually suppose to be a newline according to https://github.com/mattermost/mattermost-plugin-gitlab/blob/8e4f5a9e51d2e2534b7456cec856bfd8bea9766b/server/webhook/push.go#L56.

Makes sense the test passed, I think a double space or backslash actually needs to replace the `\n` for the correct markdown syntax for a newline/HTML br tag.

[2020-04-29 18:42] octoquad commented on #162
It is possible. If you create an Issues channel you can then subscribe the projects in that channel with
`/gitlab subscribe namespace/repo issues` or `/gitlab subscribe namespace issues` for all projects under the namespace (requires the latest version of the plugin). The default is issues, merge requests (merges), and tags.

Naturally all projects need the webhook setup correctly. See [step 3](ht

[2020-04-30 03:01] attilamolnar commented on #138
Hi, I'll implement this

[2020-04-30 03:33] jfrerich commented on #138
Thank you, @attilamolnar!

[2020-05-05 13:05] levb commented on #160
Would it be possible for you to get the webapp (and sever?) logs, @grisuthedragon ?

[2020-05-05 13:08] levb commented on #164
We should improve logging all over the place for JSON unmarshaling failing.

[2020-05-05 13:48] grisuthedragon commented on #160
I only have the mattermost.log at the moment and there no errors are in.

[2020-05-07 20:47] thmo opened #168 "Remove reference to community channel"
The channel mentioned at the bottom of the `README.md` is not valid anymore.

First, the correct address is `https://community.mattermost.com/core/channels/gitlab-plugin`, but second, that channel has been archived in the meantime.

[2020-05-07 21:00] jasonblais commented on #168
@thmo actually, the channel does still exist, but you are correct that it's incorrect in the README.

The new channel exists at https://community.mattermost.com/core/channels/plugin-gitlab :)

Submitted #169 to fix, good catch!

[2020-05-08 16:03] #168 closed

[2020-05-09 00:28] #152 closed

[2020-05-09 00:29] #149 closed

[2020-05-09 00:30] hanzei opened #170 "Release v1.2.0"
https://github.com/mattermost/mattermost-plugin-gitlab/pull/137 alone is worth a release. Is there anything else that should in it?

[2020-05-09 00:30] hanzei commented on #170
cc @iomodo @levb @aaronrothschild

[2020-05-10 18:06] youtsumi opened #171 "Cannot send DM with this plugin"
When sharepost plugin (https://github.com/kaakaa/mattermost-plugin-sharepost) enabled, gitlab plugin failed to send out a daily todo list with the following error message.

It succeeds if it is disabled, Also it succeeds if one commands `/gitlab todo` even with enabled. It seems only automatic daily messaging fails.

I haven't identified where the issue originates. But let me share this issue.
htt

[2020-05-11 03:20] #171 closed

[2020-05-11 03:20] youtsumi commented on #171
The issue seems not related to this plugin.

[2020-05-22 13:57] tivvit opened #172 "Possibillity to custom format notifications"
Hi, is it possible to format notifications? When I create new gitlab issue everything (title, link, content) is posted to the subscribed channel. Is it possible to customize those messages - I would like to omit content.

[2020-05-22 13:59] tivvit commented on #172
I can see that it is not (https://github.com/mattermost/mattermost-plugin-gitlab/blob/91c3584082df871fa6a34858e7d1cb9da9f2b803/server/webhook/issue.go#L71), do you have any plans to support this feature?

[2020-05-22 15:23] octoquad opened #173 "Upcoming Milestones"
I was busy reviewing some open internal issues and thought that this feature might be better implemented into this plugin rather than as a separate script via an API call.

The idea is to basically take all upcoming milestones that a person has either created themselves, or if they are a project member of (probably better), and display this in the Gitlab Todo output.

This will have a new section

[2020-05-26 11:41] hanzei commented on #172
@tivvit What kind of customization do you have in mind? What is your use case?

[2020-05-26 18:53] olafik commented on #147
@cpaulik @iomodo

Did you manage to solve the issue? I'm facing almost the same problem, except that in my case even the direct `@` mentions don't work.
I do get relevant information in Mattermost server logs (and no corresponding errors over there):
[code]
but no notifications in Mattermost client.
I've got all the triggers checked in the Gitlab webhooks (including "Comments"). I did `/gitlab con

[2020-05-26 19:00] olafik commented on #126
@manland @hanzei @kop

If this is true then it seems that the functions `handleDMMergeRequest` and `handleMention` achieve nothing? – [e.g. line 43 in server/webhook/merge_request.go](https://github.com/mattermost/mattermost-plugin-gitlab/blob/master/server/webhook/merge_request.go#L43)
But the `handleChannelMergeRequest` function would still work – as it seems to be in my case! (see my [comment a

[2020-05-26 21:43] tivvit commented on #172
It would be great to be able to specify custom formatting string for each subscription.

For our team for example it would be sufficient to have something like this `fmt.Sprintf("new issue %s %s %s\n", issue.Title, repo.PathWithNamespace, issue.URL)` and we would probably track only issue creation and close (not tagging).

The use case is: we have company GitLab instance and Mattermost instance an

[2020-05-26 21:55] tivvit commented on #172
I have redacted an example:

![Screenshot from 2020-05-26 23-46-14](https://user-images.githubusercontent.com/3392931/82953775-abdf8d00-9fab-11ea-858a-a2ab17e41472.jpg)

This happened a few minutes after the issue creation (which leads to reposting). It adds only very little information and in this example it is almost the whole screen.

And to be honest the text `issue labeled ...` is huge.

[2020-05-26 21:57] tivvit commented on #172
We would very much like to use this also for merge requests, but the issue would be the same.

[2020-05-27 09:47] cpaulik commented on #147
@olafik There was no solution found yet since I did not have the time to do more in depth debugging.

[2020-05-27 10:02] hanzei commented on #126
Indeed, From look at the code it seams like some parts of the notification system are broken.

@olafik Would you be interested in submitting a fix?

[2020-05-27 11:17] hanzei commented on #172
@tivvit Would a plugin setting to disable issue/PR bodies solve your use case?

[2020-05-28 08:06] iomodo opened #175 "Add slash command autocomplete functionality"
From 5.24 MM server has a slash command autocomplete functionality feature. An API can be found [here](https://github.com/mattermost/mattermost-server/blob/master/model/command_autocomplete.go#L28)
To implement the feature add `AutocompleteData` struct to the `Command` when registering a slash command.

Similar PRs:
For Todo plugin https://github.com/mattermost/mattermost-plugin-todo/pull/69
For A

[2020-05-28 11:29] tivvit commented on #172
It will definitely help. It is worth trying. Are you planning it per subscription?

[2020-05-28 11:33] hanzei commented on #172
I was thinking about a global setting for all subscriptions

[2020-05-28 11:45] tivvit commented on #172
We are a part of quite big deployment and I suppose there will be use-cases for both (with and without body)

[2020-05-28 12:05] hanzei commented on #172
I see. The github plugin has the concept of flags which are passed on a subscription creation. E.g. a `--short` could be used. https://github.com/mattermost/mattermost-plugin-github/blob/d4bf39aef12c932bdf9c9bd3292ee67ecf9f6769/server/command.go#L30-L32

[2020-05-28 12:55] tivvit commented on #172
flags for subscriptions sounds great

[2020-05-28 13:47] ericjaystevens commented on #175
I would like to work on this.

[2020-06-03 07:46] l0nax commented on #170
Does a release date for _v1.2.0_ already exists?

[2020-06-03 10:38] hanzei commented on #170
@l0nax No, there isn't a release date yet. But let me check what needs to be done before a new release is cut.

[2020-06-04 20:12] mozzieongit opened #176 "Plugin not working in subpath ( domain.org/mattermost/ )"
Hi,
I have mattermost installed in a subpath {domain}/mattermost/
When I click on the "connect to your Gitlab" icon I'm sent to
`{domain}/plugins/com.github.manland.mattermost-plugin-gitlab/oauth/connect`
instead of
`{domain}/mattermost/plugins/com.github.manland.mattermost-plugin-gitlab/oauth/connect`

[2020-06-05 07:33] mickmister commented on #176
@mozzieongit Thanks for reporting this. The linked PR should solve this issue.

[2020-06-08 11:30] #163 closed

[2020-06-08 11:31] #138 closed

[2020-06-09 15:11] hanzei commented on #170
https://github.com/mattermost/mattermost-plugin-gitlab/pull/177 and https://github.com/mattermost/mattermost-plugin-gitlab/pull/137  should go into `v1.2.0`. After that we are ready to go.

@iomodo Could you please take care of cutting the release then?

[2020-06-09 17:52] iomodo commented on #170
I would love to add autocomplete functionality, should be pretty straight forward.

[2020-06-10 09:33] hanzei commented on #170
@ericjaystevens You thankfully started working on https://github.com/mattermost/mattermost-plugin-gitlab/issues/175. Can you estimate if you can put up a PR in the next few days?

[2020-06-11 14:34] #15 closed

[2020-06-11 14:34] #156 closed

[2020-06-14 11:09] thmo opened #181 "Registration URL in README.md"
The `README.md` suggest to use `https://gitlab.com/profile/applications` or `https://gitlab.yourdomain.com/profile/applications` to register the plugin as an OAuth2 application.

Wouldn't it be better to suggest `https://gitlab.yourdomain.com/admin/applications`, in order to register the plugin globally for a self-hosted gitlab instance?

[2020-06-15 10:39] hanzei commented on #181
If a Mattermost installation is coupled to `https://gitlab.com`,  `https://gitlab.com/profile/applications` is the place to go to register an OAuth2 app.

But maybe I'm misunderstanding the suggestion.

[2020-06-15 11:57] thmo commented on #181
Actually, there are two cases:
1. usage of `gitlab.com`;
2. self-hosted Gitlab, on `gitlab.yourdomain.com`.

For (1), `https://gitlab.com/profile/applications` is correct.

For (2), I am proposing the `README.md` should suggest `https://gitlab.yourdomain.com/admin/applications` instead of `https://gitlab.yourdomain.com/profile/applications`, i.e., registering Mattermost as an OAuth2 app _for all u

[2020-06-15 15:27] DavidBusey opened #183 "Root/Master Webhook"
label:type/question

#https://github.com/mattermost/mattermost-plugin-gitlab#step-4-subscribe-to-projects-and-groups

If I have multiple repos under one folder, is it possible to use a Gitlab webhook on a higher level so that I do not have to subscribe to each one?

For example:
`Code/ProjectA/[repo]`
`Code/ProjectB/[repo]`

Could I simply use the one webhook for `code/` to get both repos or do I

[2020-06-16 01:51] mickmister commented on #183
@DavidBusey Does your request fall under the scope of this ticket? https://github.com/mattermost/mattermost-plugin-gitlab/issues/128

[2020-06-16 07:13] #176 closed

[2020-06-16 09:37] hanzei commented on #181
Got it :+1: To me that makes sense. @iomodo What do you think?

[2020-06-16 10:39] DavidBusey commented on #183
I did not see that ticket - seems that it does. Thanks!

[2020-06-16 10:39] #183 closed

[2020-06-30 17:49] n-st opened #184 "Push event notifications contain broken link to Gitlab user page"
When commits are pushed to a repo, the plugin generates a message of the format "[Jane Doe](https://gitlab.example.com/Jane Doe) has pushed 1 commit to [janedoe/some-repo](https://gitlab.example.com/janedoe/some-repo)".

The link to the user's page is based on their *display name*, not *username*, and is therefore often invalid (404 on the Gitlab side of things).

[2020-06-30 17:49] n-st commented on #184
From a quick look at the code it looks like this stems from a confusion about the Gitlab API:
- The notification text is assembled in [server/webhook/push.go, line 55](https://github.com/mattermost/mattermost-plugin-gitlab/blob/master/server/webhook/push.go#L55),
- based on `senderGitlabUsername`,
- [obtained from `event.UserName` from a `gitlab.PushEvent` argument](https://github.com/mattermost/m

[2020-06-30 18:02] n-st commented on #184
It seems that `event.UserName` is also used (perhaps accidentally) in `server/webhook.go` and `server/webhook/tag.go`.

I'd rather not set up a full Go development environment for such a small change, but perhaps this patch will be useful. :)
[0001-Fix-Use-Gitlab-username-instead-of-display-name-to-c.patch.txt](https://github.com/mattermost/mattermost-plugin-gitlab/files/4853654/0001-Fix-Use-Gitla

[2020-07-09 09:33] svelle opened #185 "Don't send reminders if there's nothing to be reminded of"
This:

[code]

is annoying, we should not send these reminders if there's no useful info in it.

[2020-07-09 10:14] svelle commented on #185
This should be a relatively simple fix.
Seems to be this function: https://github.com/mattermost/mattermost-plugin-gitlab/blob/e5d1e897dd562c4911ae707bbbe45b36591f775e/server/plugin.go#L253

[2020-07-20 09:43] philipreimer opened #187 "[Documentation] Add a feature comparison chart to differentiate this plugin from GitLab built-in Mattermost integration"
It could be helpful for new users if the plugin's documentation (README.md) contained a kind of feature comparison chart to clarify the differences between and different use cases for using this plugin vs. the Mattermost integrations that comes built-in with GitLab (`Mattermost notifications` and `Mattermost slash commands`).

@jasonblais provided some comparison in [Mattermost Peer-to-peer Help c

[2020-07-21 21:40] mickmister opened #188 "Use SiteURL for all calls from the webapp"
If the server's SiteURL is configured with a subpath, the webapp's API calls do not work. The task here is to make this plugin's client to prefix its URLs with the SiteURL.

Here's an example of how the SiteURL may be computed:
https://github.com/mattermost/mattermost-plugin-jira/blob/19a9c2442817132b4eee5c77e259b80a40188a6a/webapp/src/selectors/index.js#L13-L26

[2020-07-23 20:28] #175 closed

[2020-07-24 00:01] maruTA-bis5 opened #189 "Could not receive notification from the issue that using time tracking"
When someone comment to the issue that using time tracking (`/estimate` or `/spend` quick action in GitLab), could not receive notification and these error recorded in mattermost.log.

[code]

It caused by go-gitlab's bug https://github.com/xanzy/go-gitlab/issues/835 and that fixed in v0.32.0

#### Environment
- Mattermost version: 5.24.1 (Team Edition)
- Plugin version: 1.1.0
- GitLab version: 12

[2020-07-25 23:27] hanzei commented on #170
@iomodo Are we ready to releae?

[2020-07-27 06:48] iomodo commented on #170
@hanzei  Yes!

[2020-07-27 12:26] hanzei commented on #170
@iomodo Do you take care of the release or should I?

[2020-07-27 12:27] #189 closed

[2020-07-30 16:53] SilverOnion commented on #158
We are also running into this issue. I see 20 issues only.

In addition, after adding another to-do (now at 3) and after preforming a refresh I still see 2.

[2020-07-30 17:03] jasonblais opened #193 "Improvement: Use a smaller heading for "new issue by <user>" in new issue creation subscriptions"
See attached. The "new issue by <user>" stands out, but could use either a smaller Markdown heading or a regular text size instead. Propose the focus is on the issue title/description itself.

![image](https://user-images.githubusercontent.com/13119842/88952135-ffe54700-d264-11ea-8111-898ee1f03864.png)

Edit: This reproduces with GitLab plugin v1.1.0, which is the one available in the plugin marke

[2020-07-30 17:13] jasonblais commented on #193
Looks like this may have been resolved by https://github.com/mattermost/mattermost-plugin-gitlab/pull/153/

[2020-08-12 21:21] DHaussermann opened #194 "Closing issues or merge requests does not create an event post with a link back to the project"
When closing an issue or merge request, when the event is delivered rather then a link to the the project, the post will include text `[dhaussermann/dkh-project3]`

![RepoLink](https://user-images.githubusercontent.com/35588783/90069234-068da880-dcc0-11ea-8d76-e62c60bed98c.PNG)

This issue is not new. I have just noticed that these events seem to differ from several other events where a proper lin

[2020-08-12 21:28] DHaussermann opened #195 "Re-opening an issue does not deliver an event"
It would be ideal if re-opening an issue in GitLab would deliver an event. Currently creating or closing an issue delivers an event but, re-opening one does not.

Steps:
- Create a subscription to a project that includes the `issues` feature
- Create a webhook to deliver the events that includes the `Issues Events` trigger
- Note that creating and closing issues delivers events to the target chann

[2020-08-12 21:41] DHaussermann opened #196 "Webhook creation could show non-clickable version of the link"
When you create a webhook via slash command, the address that GitLab uses for the webhook is shown in the confirmation post. This is displayed as a clickable link which may be a bit confusing for people. Even though the link is correct, attempting to follow it will result in a 401 response and the text `not authorized` .

It may make more sense to show the link as a commented line of text `https:/

[2020-08-13 08:13] hanzei commented on #195
See https://github.com/mattermost/mattermost-plugin-github/issues/267 for a similar ticket

[2020-08-13 08:51] apollo13 commented on #159
Could this be solely due to https://github.com/mattermost/mattermost-plugin-gitlab/blob/ceb5df141b6ad9cc22c47466111953dfc47af139/server/gitlab/api.go#L282 ? Ie Dropping the state should fix it?

[2020-08-13 09:25] apollo13 commented on #159
I stand corrected, it was the scope that default to `created_by_me` instead of `all`. Attached a PR that fixes it.

[2020-08-17 04:39] kosgrz commented on #196
I will do it :)

[2020-08-18 10:00] #196 closed

[2020-08-25 22:15] tivvit commented on #172
hi guys, any progress on this?

[2020-08-26 13:46] storrgie opened #200 "webhook add fails on sub-groups"
Just consumed 1.2.0, `/gitlab webhook add <group/project>` seems to work, however it seems to fail on anything involving sub-groups: `/gitlab webhook add <group/sub-group/project>`.

[2020-08-28 11:26] hanzei commented on #200
@ericjaystevens you are going to work on this, right?

[2020-08-28 11:26] #170 closed

[2020-08-28 12:25] hanzei commented on #172
@tivvit Given you interested in this feature I'm wondering if you are interested in implementing it?

[2020-08-28 20:51] tivvit commented on #172
@hanzei I am interested but I will not have time for this soon.

Can you please point to places in the code where it should be Implemented and describe briefly what has to be done for this feature because I am not familiar with this project.

After that, it will be simpler to do this effectively so someone may solve it i.e. for hacktoberfest. I am going to find time for this ASAP.

[2020-09-02 15:39] scottcc opened #201 "Guidance For Contributing JSON Parsing"
Hey there. Just looking for some pointers on how one would help enhance this plugin to render "prettified" JSON via this excellent plugin.

The reasoning is to work nicely with this commercial Redmine Plugin: Checklists:  https://www.redmineup.com/pages/plugins/checklists

This is what it currently "shows up" like:

![gitlab-mattermost-redmineup](https://user-images.githubusercontent.com/225380/92

[2020-09-04 02:44] ericjaystevens commented on #200
@hanzei  I had to scope out the issue before I committed but yes, I'll take this. It should be a quick fix, no upstream changes required.

[2020-09-09 20:23] hanzei opened #204 "Add autocomplete icon"
Since v5.24 slash commands can provide an `svg` via  `AutocompleteIconData` in `model.Command` that is then shown in the autocomplete list. This ticket is about adding the icon in `assets` to the slash command.

Include screenhots from a dark and a bright theme in the PR description, as there might be the need for a separate icon with a white background for autocomplete.

Similar PRs:
For GitHub p

[2020-09-11 13:03] hanzei commented on #172
@tivvit All events are handled in the `webhook` package in https://github.com/mattermost/mattermost-plugin-gitlab/tree/master/server/webhook. For the flag you should look into the Implementation in the GitHub plugin: https://github.com/mattermost/mattermost-plugin-github/commit/23f77f082659e78f1d519eb3aacb0ceb94a3cc21

[2020-09-14 14:44] #159 closed

[2020-09-15 15:40] hanzei opened #206 "Integrate GolangCI-Lint"
Mattermost is currently in the process of using [`golangci-lint`](https://github.com/golangci/golangci-lint/) as the default linter for all go projects. https://github.com/mattermost/mattermost-plugin-autolink/pull/108 serves as an example of how the migration should look like:
1. Copy `.golangci.yml` from https://github.com/mattermost/mattermost-plugin-autolink/ into this repository.
2. Copy `Mak

[2020-09-17 03:34] gfairchild commented on #181
This would be great! As an admin of a self-hosted GitLab instance, I wasn't sure, but this issue confirms that `/admin/applications` is the appropriate place rather than `/profile/applications`.

[2020-09-28 21:59] hanzei opened #210 "Release v1.3.0"
https://github.com/mattermost/mattermost-plugin-gitlab/milestone/4 already has some great fixes and improvements like https://github.com/mattermost/mattermost-plugin-gitlab/pull/202.

Let's push out a releases.

- [x] https://github.com/mattermost/mattermost-plugin-gitlab/pull/202
- [x] https://github.com/mattermost/mattermost-plugin-gitlab/pull/209
- ~~[ ]~~ https://github.com/mattermost/mattermo

[2020-09-29 14:00] #204 closed

[2020-09-30 12:41] DigasNikas commented on #185
Greetings,
Can I lend a hand on this one?

[2020-09-30 13:00] carantunes commented on #206
Hey! Can I do this one?

[2020-09-30 13:23] hanzei commented on #206
@vladimirdotk already submitted a PR. Sorry, I forgot to remove `Up For Grabs`. You might want to take a look at https://github.com/mattermost/mattermost-plugin-jenkins/issues/30 instead.

[2020-09-30 13:27] #206 closed

[2020-09-30 13:34] carantunes commented on #194
Hey! Can I take this one?

[2020-09-30 18:40] hanzei commented on #194
Hey @carantunes,

Thanks for you high interest in the Mattermost project. We encourage new community members just pick up one or two issues when freshly stating with contributing to Mattermost. Would you mind waiting until you submitted your first PR before picking up this issue?

[2020-10-02 17:06] aaronrothschild opened #211 "Add "Create" Modal to create issues in Gitlab from within Mattermost (like Github)"
Add functionality that will create an issue in a desired GitLab project based on Mattermost post

Similar to GitHub and Jira, this feature would add a post menu option for creating issues in GitLab. A modal would show available projects.

The user must be able to provide an Issue title and description.

If possible, the modal could also collect other fields such as Labels and Assignee

![image](ht

[2020-10-02 17:07] aaronrothschild opened #212 "Add the ability to Preview a Gitlab issue on hover within Mattermost"
Add the ability to preview Gitlab issue by simply hovering over a URL/link to the issue within Mattermost.  You can see how this was added to the Github plugin in the past here:
https://github.com/mattermost/mattermost-plugin-github/pull/258

[2020-10-02 17:08] aaronrothschild opened #213 "Add command to run a new CI Build"
Many customers are ocnsidering gitlab to replace Jenkins for Ci builds.  But we don’t have a way to let users trigger a new build in the Gitlab projects.  This ticket is a request to add a slash command such as `/gitlab build <project>` to kick-off a build.  After the build is complete, the user should be sent a message in the channel they initiated the command from with a link to the artifact/bui

[2020-10-02 17:09] aaronrothschild opened #214 "Select types of events to subscribe to in a dialog box"
Right now, the user needs to specify a comma separated list of issue event types that will trigger a notification.  This ticket is to Allow a user to select the types of events to show up in the channel from a dialog box instead of typing a string of comma sep text.
<img width="1128" alt="2020-09-30_12-27-10" src="https://user-images.githubusercontent.com/915956/94950363-63733700-0497-11eb-8ecb-e1

[2020-10-02 17:10] aaronrothschild opened #215 "Add functionality that will attach a mattermost post to a specific issue inside a GitLab project"
Similar to GitHub and Jira, this feature would add a post menu option for attaching to an issue in GitLab. A modal would show available projects and allow the user to search through issues within a project.
Note that if the Mattermost user who authored the post is connected to GitLab, The comment should be attached as a post made in Mattermost referencing the user’s GitLab handle rather than Matte

[2020-10-02 17:11] aaronrothschild opened #216 "Add functionality that will open GitLab team sidebar items in RHS rather than browser window"
GitLab View Lists in RHS
Add functionality that will open GitLab team sidebar items in RHS rather than browser window

For GitLab a connected user will see options on the team sidebar for:
- Merge Requests
- PR reviews
- Assignments
- Unread Messages

Clicking these should open the RHS and show a list view of the item there. This may be a large amount of effort however it has already been implemen

[2020-10-03 12:27] hanzei opened #217 "Command responses don't get posted in the RHS"
Running a slash command in the RHS should post the response there.

See https://github.com/mattermost/mattermost-plugin-github/issues/364 for a similar bug.

[2020-10-03 19:38] khushijindal commented on #217
Hey @hanzei ! Can I work on this issue? I am new to open source, so can you elaborate as to what needs to be done.

[2020-10-04 21:26] haardikdharma10 commented on #214
Hey @aaronrothschild, I'd like to fix this. Any starting steps you would like to suggest? Also, if you can roughly guide me about the flow of changes, that'd be great!

[2020-10-05 17:20] haardikdharma10 commented on #126
Hi @hanzei, I'd like to fix this. Can you help me on how to get started. Additionally, if you can help me on how the flow of editing will go, that'd be great as well :)

[2020-10-05 17:35] haardikdharma10 commented on #144
Hey @iomodo, I'd love to trigger this issue and fix it. I went through the note.go file but ain't pretty sure where the code should be added. Can you help me out with the function and line number? Thanks :)

[2020-10-05 23:05] aaronrothschild commented on #214
Hey @haardikdharmain10 thanks for your interest!  This is an annoying UX construct right now :)

I will defer to @hanzei or @iomodo for more developer details, but I think what we probably want to do is:
- Make the `/gitlab subscribe` command exectuable and would then open up an "Interactive Dialog Box" (Docs)[https://docs.mattermost.com/developer/interactive-dialogs.html]
- The dialog box would t

[2020-10-06 05:33] tw-ayush commented on #213
is there an GitLab api that you can link here?

[2020-10-06 05:35] tw-ayush commented on #201
the following should solve the problem for you.
` var prettyJSON bytes.Buffer
    error := json.Indent(&prettyJSON, body, "", "\t")
    if error != nil {
        log.Errorf("JSON parse error: ", error)
        App.BadRequest(w)
        return
    }`

[2020-10-06 11:45] chsk-code opened #222 "GitLab Authorize Post oauth/token: Service Unavailable"
Can someone please help me fix below error.
`Post https://gitlab.comanydomain.com/oauth/token: Service Unavailable`

Configured GitLab Application with Application ID & Secret, enabled GitLab plugin in Mattermost System Console with application IDs fetched from Gitlab.

When I executed slash command (/gitlab connect), it is redirected to gitlab page for authorization and after athorization gitlab

[2020-10-06 16:27] hanzei commented on #222
Are you running your MM Server and GitLab server in the same network? Is there a firewall between them?

[2020-10-06 18:33] chsk-code commented on #222
No they are running on separate instances.
I have enabled network access rule from MM ws tier(ws tier running with 2 webservers) to Gitlab LB on port 443.

[2020-10-07 09:00] #181 closed

[2020-10-07 10:05] hanzei commented on #217
Sorry for the late reply @khushijindal. It looks like you found the solution yourself :+1:

[2020-10-07 10:22] hanzei commented on #126
Hey @haardikdharma10, Thanks for taking a shot. :+1: Do the docs at https://github.com/mattermost/mattermost-plugin-gitlab#development help you with getting started?

[2020-10-07 18:32] khushijindal commented on #188
@mickmister I didn't understand what needs to be done here. I checked the given link and everything seems ok. Can you please elaborate?

[2020-10-07 20:03] mickmister commented on #188
@khushijindal The link is to a [different project](https://github.com/mattermost/mattermost-plugin-jira), just to show how to get the SiteURL. This fix needs to be applied to other plugin projects as well, such as the GitLab plugin here. The SiteURL is currently not being used in the frontend portion of the GitLab plugin.

Does this make it more clear?

[2020-10-08 20:18] hanzei commented on #222
Could you please double check that MM can reach the GitLab server. The error `Service Unavailable`  indicates that there is a network issue.

[2020-10-08 20:22] hanzei commented on #213
https://docs.gitlab.com/ee/api/pipelines.html#create-a-new-pipeline seems like the right one to use

[2020-10-09 08:00] tw-ayush commented on #213
Cool, thanks I'll have a look at it and reach back to you in case of doubt.

[2020-10-09 08:14] hanzei commented on #213
Awesome, thanks for taking a look :+1:

[2020-10-09 08:39] #217 closed

[2020-10-10 10:21] iomodo commented on #144
@haardikdharma10 correct, that 's exactly the function. This would be the line where filter can go https://github.com/mattermost/mattermost-plugin-gitlab/blob/881e6321d2d8b4c509f55958d31e9ea246af71f8/server/webhook/note.go#L70

Let me know if you need anything

[2020-10-10 12:22] tw-ayush commented on #213
@hanzei @aaronrothschild based on the issue discerption i believe [this](https://docs.gitlab.com/ee/ci/triggers/#triggering-a-pipeline) to be more suitable. The other api seems more like a process to set-up a new pipeline (though i don't see any mention of how one will send the pipeline tasks in it). Please have a look and let me know about what you think.

[2020-10-10 13:02] tw-ayush commented on #213
never mind I read through the lib.. seems-like the one you sent is good 👍

[2020-10-10 16:51] tw-ayush commented on #215
Looks Interesting.. is there any exploratory link for this or any other gitlab story related implementation in code that i can refer to?

[2020-10-10 17:03] tw-ayush commented on #215
https://docs.gitlab.com/ee/api/notes.html#create-new-merge-request-note

[2020-10-10 17:06] tw-ayush commented on #148
- any specific api or design you have in mind?
- Can you share any references for creating a channel?

[2020-10-10 17:11] tw-ayush commented on #141
a possible solution is to list down all the projects which are not archived using [this](https://docs.gitlab.com/ee/api/projects.html#list-all-projects) and then filter the data from existing get todo api response, as it does not support any such filter directly.

[2020-10-10 17:12] tw-ayush commented on #36
🤔

[2020-10-12 08:37] hanzei commented on #215
The GitHub plugin already implements this. You can find the initial PR at https://github.com/mattermost/mattermost-plugin-github/pull/120.

[2020-10-12 18:47] #185 closed

[2020-10-12 19:16] n-thumann commented on #184
I´d like to work on it, if you don´t mind 😊

[2020-10-14 11:02] hanzei commented on #222
@iomodo Do you have any ideas why the GitLab server can't be reached?

[2020-10-14 18:01] tw-ayush commented on #141
@NeroBurner @levb @jespino any thought?

[2020-10-14 18:08] tw-ayush commented on #215
oh I'm no good with react so will have to pass this one.

[2020-10-16 10:28] scottcc commented on #201
Thank you! Now... where to integrate this in...

[2020-10-21 11:37] #200 closed

[2020-10-21 11:39] hanzei commented on #210
@iomodo Anything else that should go into this release? Otherwise I would like to get https://github.com/mattermost/mattermost-plugin-gitlab/pull/202 out ASAP.

[2020-10-21 15:18] iomodo commented on #210
@hanzei Makes sense. This is a good candidate as well https://github.com/mattermost/mattermost-plugin-gitlab/pull/223, but it's not urgent and we can release it in v1.4

[2020-10-22 09:49] hanzei commented on #210
Good call. Let's also include https://github.com/mattermost/mattermost-plugin-gitlab/pull/223.

[2020-10-23 09:12] apollo13 opened #227 "Support for Gitlab merge request reviewers"
Gitlab 13.5 (behind a feature flag) introduced merge requests reviewers: https://about.gitlab.com/blog/2020/10/13/merge-request-reviewers/

It would be great if this plugin also listed those as needed review.

[2020-10-23 12:27] storrgie commented on #210
I'd like to chime in that we've been holding back our userbase (100 E20 license) from doing all of their own webhook and custom integration work themselves in wait for #202. Would it be possible to get a release __soon__?

[2020-10-24 04:42] hanzei commented on #210
@storrgie I've got good news for you. https://github.com/mattermost/mattermost-plugin-gitlab/pull/202 is already merged and will surely be part of this upcoming release.

[2020-10-27 15:29] chsk-code commented on #222
Issue fixed. Issue resolved by adding additional domain in mattermost no_proxy.

[2020-10-27 15:29] #222 closed

[2020-11-10 19:33] hanzei opened #228 "Plugin panics if commit list of tag is empty"
[code]

Here's some log output: https://paste.ee/p/VCSXY

Sorry I don't have it in non-JSON :/

_Issue created from a [Mattermost message](https://community.mattermost.com/_redirect/pl/zepmaannzt89id17yta4kdcipw) *by `@martbhell`*._

[2020-11-10 19:34] hanzei commented on #228
I'm not sure in which cases `commit` is empty, but at least the example for GitLab shows it: https://docs.gitlab.com/ce/user/project/integrations/webhooks.html#tag-events

[2020-11-19 10:27] jperezrod opened #230 "Plugin seems to crash on OnActivate"
When trying to enable the plugin it fails, and I can see in Plugin Management the error:
`This plugin crashed multiple times and is no longer running. Check your system logs for errors.`

The versions used are:

* Mattermost Version: 5.29.0
* com.github.manland.mattermost-plugin-gitlab - 1.2.0

Mattermost has been installing using docker-compose.

When enabling the plugin with DEBUG logging enable

[2020-11-19 10:33] hanzei commented on #230
@jperezrod Do you have a SiteURL set in your config file?

[2020-11-19 10:36] hanzei commented on #230
@jperezrod I've submitted https://github.com/mattermost/mattermost-plugin-gitlab/pull/231 as a proper fix. The workaround is to get a SiteURL in the System Console, which you should do anyway.

[2020-11-19 10:39] hanzei opened #232 "New tag message is shown when a tag is deleted"
It writes "New tag" also when I delete a tag.

Output looks like this when I push a new tag and when i push --delete a tag: https://paste.ee/p/xwvbQ

_Issue created from a [Mattermost message](https://community.mattermost.com/_redirect/pl/nx9trgtiufb18xqh5bnnnkbc3w) *by `@martbhell`*._

[2020-11-19 10:47] martbhell commented on #232
For posterity:

Commands used:
[code]

Content of the pastee:
[code]

[2020-11-19 11:23] jperezrod commented on #230
@hanzei thanks for the hint, setting up the Site URL in the System Console made it work.

[2020-11-19 12:31] RaoOfPhysics opened #233 "[Request] Provide separate "confidential_issue" feature for subscriptions"
Thanks for the useful plugin!

At the moment, if you toggle "Confidential Issue events" under webhooks, you receive notifications from such issues automatically. However, the use-case in question would be as follows:

- public channel: receives notifications from regular issues
- private channel: receives notifications from confidential issues only

Would it therefore be possible to add an option

[2020-11-19 23:56] #228 closed

[2020-11-23 11:42] jwillmer opened #234 "Hide Toolbar"
We are using the CI/CD pipeline in Gitlab and would like to hide the toolbar on top of the channel list since we are only interested in (subscribed) pipeline events.

[2020-11-23 11:50] hanzei commented on #234
FYI: There is a similar issue for GitHub: https://github.com/mattermost/mattermost-plugin-github/issues/384

[2020-11-23 12:02] jwillmer opened #235 "Gitlab group is not working"
If I add our group name into the group field we don't receive any notification. I tested it with upper and lowercase group name. Leaving the field blank allows us to receive notifications.

![image](https://user-images.githubusercontent.com/1503577/99959671-ba0c3b80-2d8b-11eb-9cd8-24e9cb059f37.png)

Our subscription looks like this: `/gitlab subscriptions add groupname`

[2020-11-25 17:13] MoeRT09 opened #236 "Subscription including a project are not found by slash command"
Hello,

I have an issue with subscribing to project events using the plugin. Every time I try to subscribe with the command `/gitlab subscriptions add <group>/<project> issues`, the bot says `Resource with such path is not found.`. The same applies if trying to subscribe to a public project under the personal namespace (`<username>/<project>`). However if omitting the "`/<project>`" part, the bot

[2020-11-27 11:43] nippold opened #237 "Number of Issues, Notes etc. not correct: API call responds are limited"
The plugin shows in Mattermost only 20 issues, notes etc.

In my case. I have 66 Issues and 24 notes in gitlab.
![gitlab](https://user-images.githubusercontent.com/32570685/100445231-05388e00-30ad-11eb-8269-1d4f4673cf01.png)

But unfortunately the Plugin shows only 20 at maximum.
![mm](https://user-images.githubusercontent.com/32570685/100445276-1ed9d580-30ad-11eb-9ad2-34a67fbd91bd.png)

Same to t

[2020-11-27 13:05] MoeRT09 commented on #236
We solved the problem. It was no issue with the plugin but with our particular setup.

We are using Apache as a reverse proxy instead of the GitLab bundled Nginx. By default, the `ProxyPass` directive is canonicalizing proxied URLs. This caused problems with the GitLab API and was the cause for requests to `https://<host>/api/v4/projects/<groupname>/<projectname>` failing (which is allowed syntax

[2020-11-27 13:05] #236 closed

[2020-12-02 12:37] aaronrothschild commented on #210
@DHaussermann can you take a look at #231 when you have a moment?  @hanzei when ydo you think we can get #223 reviewed so we can cut a release for @storrgie who has been waiting patiently?

[2020-12-02 16:48] #230 closed

[2020-12-03 09:22] hanzei commented on #210
https://github.com/mattermost/mattermost-plugin-gitlab/pull/223 is awaiting changed from the contributor and will take more time to get in. I would opt for releasing v1.3.0 without https://github.com/mattermost/mattermost-plugin-gitlab/pull/223.

[2020-12-05 06:58] #184 closed

[2020-12-18 20:39] #210 closed

[2021-01-30 18:50] Quaqmre commented on #232
I would like to work on it.

[2021-02-02 02:04] swills opened #242 "multiple GitLab instances"
Is there a way to connect to multiple GitLab instances? I use both a personal one and the gitlab.com one and would like to connect the plugin to both.

[2021-02-02 02:05] swills opened #243 "Customize pipeline subscriptions"
Is it possible to subscribe to only failures for pipelines, and not successes, or vice versa?

[2021-02-02 06:51] iomodo commented on #242
There is no way yet.

[2021-02-02 06:54] iomodo commented on #243
Also not yet :)

[2021-02-04 19:00] deanf1 commented on #147
Having a similar issue, I'm only getting some notifications for some subscriptions, for example, I get "Closed ticket" notifications just fine, but do not get "opened ticket" notifications, despite the `mattermost.log` clearly printing out the message that is supposed to be posted saying a ticket has been opened. This example is on a private repo, it seems to be reliably printing all notifications

[2021-02-08 08:22] apollo13 commented on #227
This is now enabled for everyone and getting more features every release. I think it would make sense to move "merge requests needing review" over to "reviewers" instead of "assignee" as it is now. What do you think?

[2021-02-08 11:40] hanzei commented on #232
Awesome, thanks @Quaqmre :+1:

[2021-02-08 19:49] hanzei commented on #243
This should be added as `features` to `/gitlab subscriptions`.

[2021-02-08 19:52] hanzei commented on #242
Duplicate of

[2021-02-08 19:52] #242 closed

[2021-02-08 19:55] hanzei commented on #35
This is a _very_ hard ticket to implement but well worth the hassle! My suggestion would be to take a look at how multi instance is implemented in https://github.com/mattermost/mattermost-plugin-jira.

[2021-02-08 19:56] hanzei commented on #235
Are you using Version 1.3.0?

[2021-02-08 19:58] hanzei commented on #235
Also: What GitLab version are you using?

[2021-02-08 20:24] jwillmer commented on #235
I was on `GitLab (com.github.manland.mattermost-plugin-gitlab - 1.2.0)`. I update now and let you know if it works.

[2021-02-08 21:06] DHaussermann commented on #235
Thanks @jwillmer for the report. It seems this issue also affects v1.3.0 I can also reproduce it with this version. I have created a jira issue here https://mattermost.atlassian.net/browse/MM-32680 to address this.

cc @hanzei

[2021-02-09 13:00] tw-ayush commented on #237
@hanzei I would like to work on this but I don't have any visual understanding of this. (unable to setup local runtime)

[2021-02-09 14:11] hanzei commented on #237
@tw-ayush Thanks for taking a shot! This bug can be fixed without a local setup. The gist is that all `List` API calls needs to make use pagination.

[2021-02-14 21:13] Quaqmre commented on #232
Hi guys , I was working on this issue then I find some  that ,It is not related webhoos or Mattermost api , when u try to delete tag remotely like ' git push  --delete anytag' that is deleted gitlab remoot repo but *anytag* still there in your local repo. And when u try to push or delete any tag git add the *anytag" again.Then u saw 2 message on your channel 1 message about deleted mesage the othe

[2021-02-15 09:00] hanzei commented on #232
@jsmestad In order to delete a tag locally and remotely, you have to also run `git tag -d anytag`.

[2021-02-15 10:09] Quaqmre commented on #232
![commandAndWebbHook](https://user-images.githubusercontent.com/44048737/107932763-f9af8180-6f8e-11eb-9710-0d021d175552.png)

[2021-02-15 10:12] hanzei commented on #232
That seems like the expected behavior to me. `git push` will publish `v4` again, given that it was not deleted locally.

[2021-02-19 12:38] Quaqmre commented on #232
@hanzei How should we proceed about this task ? Can you help me what should i do ?

[2021-02-19 12:47] hanzei commented on #232
@Quaqmre The example looks good to me. The notifications appear in the right order. Would you please create a WIP PR for an early code review?

[2021-02-21 16:01] tw-ayush commented on #237
@hanzei is it up for grab? I can have a look at this one. I also believe there should not be any front-end changes required.

[2021-02-22 09:29] hanzei commented on #237
@tw-ayush All yours! Currect, there should be no front-end changed needed.

[2021-02-24 13:00] tw-ayush commented on #237
Okay a quick question: when you call `/gitlab todo` it makes several call to get unreads, assignments, merged, etc. So this doesn't look like a good idea to ask the caller to pass in the page info [page number and size]. So the possible solution is to iterate over these calls multiple time unless you have all the data(read all the data from gitlab).

[2021-02-27 18:08] Quaqmre commented on #232
@hanzei Actually I dont know how can I create WIP PR , I try to create PR but I dont have any commit or changes ,so I cant create PR without changes what sould I do ?

` Showing  with 0 additions and 0 deletions.

No commit comments for this range
`
I got those messages.After click create new Pull Request.

[2021-03-01 08:03] martbhell commented on #232
Are you saying that you are unable to reproduce the issue?

[2021-03-01 10:05] hanzei commented on #232
@Quaqmre To which branch did you pushed your changes? Did you tried creating the PR via https://github.com/mattermost/mattermost-plugin-gitlab/compare?

[2021-03-04 20:43] hanzei commented on #237
@tw-ayush Exactly. The [`Response`]()https://pkg.go.dev/github.com/xanzy/go-gitlab#Response) send by GitLab contains information about the next page, which should be used for pagination.

[2021-04-08 05:46] martbhell commented on #232
I can still reproduce this with:

In a private mattermost 5.28.1 channel (and gitlab plugin 1.3.0) I ran:
`/gitlab subscribe johan/dotfiles tag`

Then in my git repo I ran:
[code]

Resulted in these two gitlab notifications:
[code]

[2021-06-07 08:29] caugner opened #249 "Remove or convert HTML from issue/merge request description"
## Background

* We use the Mattermost GitLab bot to be informed about new issues and merge requests in our dev channel.
* We use [dependabot-gitlab]8https://gitlab.com/dependabot-gitlab/) to update our dependencies, and it automatically creates merge requests with a lot of HTML in the description.

## Problem

* Dependabot's merge requests contain a lot of HTML.
* Mattermost GitLab bot posts the

[2021-07-01 15:42] astaruch opened #250 "ERROR: can't decrypt token unpad error. This could happen when incorrect encryption key is used"
Hello, I was setting up the plugin and everything worked fine. Then I've accidentally started the Mattermost server instance and lost the whole configuration and now I am setting it up from the ground again.

I am guessing, that some settings have persisted in the database, since I am receiving following error:
[code]
I guess it is this line: https://github.com/mattermost/mattermost-plugin-gitlab/

[2021-07-01 20:29] astaruch commented on #250
After several hours of trying to come up with solution I have found only the following workaround - **complete deleting the user which has a problem with the gitlab-plugin**.

Steps for the future references if:
1. Set in `/opt/mattermost/config/config.json` key  `ServiceSettings.EnableAPIUserDeletion` to `true`
2. Create a backup of database
3. Create a new system user
4. Create a new personal ac

[2021-07-01 20:31] astaruch commented on #250
So improvement suggestion for this `mattermost-plugin-gitlab`:
- being able to somehow reset settings between a `User` and `GitLab Plugin` in another way, as completely deleting the user from the database

[2021-07-08 12:50] caugner opened #251 "Make issue label updates a separate subscription"
GitLab sends an Issue event ...

Unfortunately, this also applies to label assignments, and causes a lot of noise in the channel.

Therefore it would be nice, if ~~specific event types, such as "Issue updates", could be ignored~~ issue label updates could be subscribed/unsubscribed separately from other issue events.

The issue label updates are handled here:
https://github.com/mattermost/mattermo

[2021-07-12 06:55] antondollmaier opened #252 "Reminder not firing via App"
Hi folks,

to be reminded of pending issues, I've enabled the daily reminder - which works great.

Unfortunately, there is an issue when accessing Mattermost with the (Android, didn't use iOS) app: the reminder is not triggered there. On the desktop, the reminder is triggered - sending the notification about the new message also to the app.

If you need more information, please let me know.

Best,

[2021-07-13 00:28] swicaksono opened #253 "Remove redundant webhook on a project in different channel"
How I can remove a redundant webhook from the same project? I accidentally created a webhook after subscribing to a GitLab project that already created its webhook in a different channel. So if there is an event in the project GitLab it will notif the trigger double in the channel.

Many thanks.

[2021-07-27 14:56] apollo13 opened #254 "Webhooks don't always resolve username"
Creating tags and issues yields the following:

![image](https://user-images.githubusercontent.com/81547/127176612-2104c75f-8673-496b-b044-4767bc87e9c8.png)

It seems as if
https://github.com/mattermost/mattermost-plugin-gitlab/blob/442334dbe0ec95127d7d7f50330aaea3adbbe71a/server/webhook/tag.go#L43
goes awry. couldn't it just use `UserName` directly?

[2021-07-27 14:59] apollo13 commented on #254
GetUsernameByID goes through
https://github.com/mattermost/mattermost-plugin-gitlab/blob/442334dbe0ec95127d7d7f50330aaea3adbbe71a/server/plugin.go#L208-L214

and seems to ask mattermost itself for an id mapping?

[2021-07-27 15:04] apollo13 commented on #254
Interesting, after executing `/gitlab settings notifications on` the username is resolved properly. Nevertheless I do not think this is the expected behavior and this KV-mapping should be used?

[2021-07-28 07:31] apollo13 commented on #254
Currently blocked by https://github.com/xanzy/go-gitlab/pull/1183

[2021-08-19 10:46] #144 closed

[2021-09-01 15:30] mickmister opened #257 "Invalid scope error during `/gitlab connect`"
A user is getting this error when running `/gitlab connect`:

I believe the error is showing in GitLab's interface after the command is run.

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/xi8z5f1cz7fybk71xobdumddka) *by `@rauldipeas`*._

[2021-09-10 17:45] cvockrodt opened #258 "Pipeline events have no link to pipeline"
### Problem
Pipeline event messages link to projects, users, and commits, but not the pipeline.

### Potential Solution
Don't link to the commit, link to the pipeline

### Defining Success
Pipeline event messages contain a link to the pipeline

[2021-09-20 08:16] MoeRT09 commented on #148
I want to bring this Issue up again, because it can be quite useful. GitLab has an Webhook available for Wiki events. But it can't be subscribed to in Mattermost.
The Webhook documentation can be found [here](https://docs.gitlab.com/ee/user/project/integrations/webhooks.html#wiki-page-events).

In the end something like `/gitlab subscriptions add <repo> wiki` should subscribe a channel to those ev

[2021-09-27 18:29] mickmister opened #261 "Plugin should avoid using revoked tokens"
If we perform an API request using a user's token, and we receive a response noting that the token is revoked, we should:
- delete the token from the KV store, declaring the user as disconnected
- and notify the user via DM that their token has been revoked, and that they will need to reconnect their account in order to use the plugin

_Issue created from a [Mattermost message](https://community-d

[2021-10-08 14:07] hanzei opened #263 "Release v1.4.0"

[2021-10-08 17:25] #263 closed, assigned to hanzei

[2021-10-15 00:03] giosueDelgado opened #264 "Channel limited to work on specific group or repository (only admin can edit)"
Hi, I have a group and many subgroups on my gitlab installation.
I manage many customers so I divide my mattermost server in many channel to manage one channel for each customer. I canno link my gitlab installation because they can interact with action on all my groups on gitlab (one for each customer)

It can be very useful if I can limit the visibility on each channel for specific group and if I

[2021-10-23 16:53] sibasankarnayak opened #265 "Cross-plugin task: Enable the CircleCI "test" job in each plugin repo that has a webapp plugin"
The .circleci/config.yml file needs to be updated to run the webapp tests in CI.

[2021-10-25 18:54] #265 closed, assigned to nobody

[2021-11-18 11:12] zerocewl opened #268 "Custom filter for events"
Is it possible to get only messages for custom events like issue creation?

E.g. i want to subscribe to messages if a new issue is created (and maybe closed) with a custom label like `Bug`.

But i don't want to get all other events (noise) like state changes from `ToDo` in `Doing` etc.

[2021-11-22 08:34] #195 closed

[2021-11-25 03:42] almereyda commented on #257
I can confirm that the documentation at https://docs.mattermost.com/onboard/sso-gitlab.html reads to

while the GitLab interfaces shows this when trying not to set any scopes:

![Screenshot 2021-11-25 at 04-41-27 Applications · User Settings](https://user-images.githubusercontent.com/1645308/143375935-b8e95025-10c5-4bb3-9685-6ff39d53753f.png)

[2021-12-02 09:20] mihai-satmarean opened #270 "add /gitlab subscriptions to a milestone"
very good plugin and very useful,
for our workflow would be great if you could
add /gitlab subscriptions to a milestone

[2021-12-22 10:47] jdeamicis opened #271 "Sidebar header MR count should show assigned MRs instead of opened MRs"
As of now I see that the MR counter in the sidebar (the one showing `Your open merge requests`) shows the MRs someone has opened (i.e. the MRs for which the user is the author).

I believe it would make more sense to have the assigned MRs (i.e. the ones for which a user is assignee), rather than the opened ones.

Or maybe it could be made configurable.

[2022-01-12 20:52] mickmister commented on #271
Hi @deandrade87, Are you interested in implementing this?

[2022-01-12 21:09] aaronrothschild commented on #264
Thanks for your feedback.  Do you have customers who do not belong to your Github organization?

Can you explain this a bit more?  Which actions can they interact with?

Do you mean showing the Github message actions should only be shown in some channels?
![image](https://user-images.githubusercontent.com/915956/149221724-6dbfcc43-3a1a-4865-9e77-26cebdc4c516.png)

[2022-01-12 21:17] aaronrothschild commented on #253
At this time, we don't want to risk accidentally deleting a webhook automatically, but it can be reconfigured manually to remove the double notifications.

[2022-01-12 21:17] #253 closed

[2022-01-12 21:20] mickmister commented on #252
Note that this can now be implemented via the [OnWebSocketConnect](https://developers.mattermost.com/integrate/plugins/server/reference/#Hooks.OnWebSocketConnect) hook. We should remove the logic in the webapp side of the plugin that pings the plugin's backend, and use this hook instead. The feature will then be supported for desktop and mobile simultaneously.

[2022-01-12 21:24] mickmister commented on #249
Note that this is implemented in the GitHub plugin https://github.com/mattermost/mattermost-plugin-github/pull/464, and the same solution can be applied here.

[2022-01-13 07:06] anatoly-kryzhanovsky opened #272 "Cannot create subscription to repository"
recently we migrate from slack to mattermost and now i want to enable integration with gitlab.
i successfully install and setup plugin
now i can connect to my gitlab from mattermost (with `/gitlab connect`)

now i want to create a subscription to one of my repository:
`/gitlab subscriptions add laboratory/my_repo_1`

but i received message `Resource with such path is not found.`

if i try to subsc

[2022-01-13 07:14] anatoly-kryzhanovsky commented on #272
ok, i found answer.
i need to remode trailing slash from my proxy_pass.

[2022-01-13 07:27] anatoly-kryzhanovsky commented on #272
ok.. i missed webhook creation..
can be closed

[2022-01-13 07:27] #272 closed

[2022-01-13 21:26] DHaussermann commented on #235
Hi @jwillmer,
It was brought to my attention this week that this issue was never closed.

Please note that this issue was fixed in the `v1.4.0` release from October of 2021.  https://github.com/mattermost/mattermost-plugin-gitlab/releases/tag/v1.4.0

My apologies for not notifying you at the the time and closing the issue you reported.

[2022-01-13 21:26] #235 closed

[2022-01-18 14:10] cwarnermm commented on #187
@aaronrothschild - We could use your help with this one. Are you open to drafting a content update?

[2022-01-18 14:43] aaronrothschild commented on #187
@cwarnermm yes, I could create this content sometime this month.   I would simplify to documenting #1 and #3 and skip #2....

[2022-01-26 20:45] mickmister commented on #251
Thanks for reporting this @caugner :+1:

In order to make this backwards-compatible, we'll need to treat the current subscription options the same as they work today. I suggest we add an "issue updated excluding labels" subscription option.

[2022-01-26 20:51] mickmister commented on #234
Solution for GitHub plugin can be found here https://github.com/mattermost/mattermost-plugin-github/pull/396

[2022-01-26 21:01] DHaussermann commented on #232
For this issue - There may value in continuing to deliver the tag deletion events.

An alternative may simply be to clarify this behavior in the help. @aaronrothschild may have some thoughts here.
cc @Quaqmre ☝️

[2022-01-26 21:14] mickmister commented on #227
Thanks for this @apollo13

This makes sense. I think we should mimic the functionality of the GitHub plugin.

### Proposal

- "Merge requests needing review" should pull from merge requests that have your review requested
- "Your assignments" should pull from issues _and_ merge requests where you are assigned

### Currently the GitLab plugin has this behavior:

- "Merge requests needing review" ca

[2022-01-26 21:25] mickmister commented on #212
Note that there are newer designs for the GitHub tooltip, and I think they should be applied here when this is implemented:

https://www.figma.com/file/qjEeYjHQhEQdkh6IqKpfWE/?node-id=2%3A13311
https://community-daily.mattermost.com/core/pl/fbthgywkfpyi7m8w7ekhfqt1yr

[2022-01-26 21:33] mickmister commented on #233
I think we should add two new flags for subscriptions:

- `only_confidential`
- `exclude_confidential`

The default behavior will still deliver both regular and confidential issues.

[2022-01-26 21:37] mickmister commented on #201
@DHaussermann to invesigate applicable scenario

[2022-01-26 21:39] mickmister commented on #193
Looks like this may already be fixed. @DHaussermann to check on this

[2022-01-26 21:44] mickmister commented on #188
Closing per https://github.com/mattermost/mattermost-plugin-gitlab/pull/177

[2022-01-26 21:44] #188 closed

[2022-01-26 21:55] mickmister commented on #172
I propose we implement this as a `--collapsed` flag, as the issue in the GitHub plugin repo describes:

https://github.com/mattermost/mattermost-plugin-github/issues/484

[2022-01-26 22:03] mickmister commented on #162
Hi @medexdev, thanks for submitting this ticket. Does the explanation above solve your issue? I'll close the ticket for now. Let me know if you have any questions.

[2022-01-26 22:03] #162 closed

[2022-01-26 22:11] DHaussermann commented on #146
@CaerphillyMediaLtd let me know if this is still an issue. Just to add some info here for clarity:
- It is possible to save a subscription without actually having a webhook in place to deliver the events. Make sure there is a webhook to deliver from the target protect
- If the webhook was successfully created, you can test the webhook from GitLab side to collect more info

[2022-02-03 10:06] #258 closed

[2022-02-08 13:26] hanzei commented on #61
@hanzei to update the list

[2022-02-10 16:55] hanzei opened #274 "Release v1.5.0"
- [x] https://github.com/mattermost/mattermost-plugin-gitlab/pull/273
- [x] https://github.com/mattermost/mattermost-plugin-gitlab/issues/249

[2022-02-11 10:52] hanzei opened #275 "Refresh OAuth token"
Starting with GitLab 15.0.0 OAuth token will always expire after 2 hours. Currently the plugin handles oauth token as static data, which they won't be any longer.

Related GitLab issue: https://gitlab.com/gitlab-org/gitlab/-/issues/340848

[2022-02-15 02:47] sakaipb commented on #275
I have solved this problem, can I try to submit the code?

[2022-02-23 11:36] hanzei commented on #275
Surely, that would be amazing, thanks @sakaipb :tada:

[2022-02-24 20:31] DHaussermann commented on #275
@dipak-demansol note that I believe this to be the same issue you found today. It is coincident with intances similar to the following occurring in the server logs at the time
[code]

[2022-02-28 12:18] dipak-demansol commented on #275
@hanzei FYI :- In The Gitlab `https://gitlab.com/oauth/applications/`, There is a Setting to "Expire access tokens"

![image](https://user-images.githubusercontent.com/89907719/155982004-fbdce933-2f75-44e8-bd34-1c8e5c30522c.png)

[2022-03-01 11:28] hanzei commented on #275
@dipak-demansol That setting will be removed in https://gitlab.com/gitlab-org/gitlab/-/issues/340848.

[2022-03-02 12:29] dipak-demansol opened #277 "Gitlab event Should look same as Github, i was little Confused while Subscribing Event. (improvement)"
Currently its look like this
![Gitlab events Should look same as github events](https://user-images.githubusercontent.com/89907719/156360523-a6694951-2e43-44fb-ae5d-8cc2f77be6fc.png)

and it Should look like Github event, like this
![github events](https://user-images.githubusercontent.com/89907719/156361506-cea1acab-6ece-4c7a-b022-ae192a5ab241.png)

there should be no [ ] brackets in the event te

[2022-03-02 12:30] dipak-demansol commented on #277
i like to work on that, if you allow me.

[2022-03-08 22:01] DHaussermann opened #278 "When selecting a channel at the end of the setup flow, archived channels are visible in the drop down list"
The channel selection used to select which channel will receive the welcome message includes Archived channels.

These should be removed from the listing.
![image](https://user-images.githubusercontent.com/35588783/157321196-bc785107-40d4-46bc-bb10-771ab936ea23.png)

**note** It's unclear at this time if there is a broader solution or if each plugin must be fixed individually.

Steps:
 - Archive a

[2022-03-08 22:05] DHaussermann opened #279 "GitLab modal should trim leading whitespace to prevent user error"
The GiLab oAuth modal does not trim leading whitespace values.
This bit of polish would prevent users who accidentally copy over whitespace from hitting the validation blocks.

![image](https://user-images.githubusercontent.com/35588783/157333083-d4f94df9-db1e-4b47-833c-d054dc16452f.png)

[2022-03-08 23:13] hanzei commented on #278
This behavior is not GitLab specific. All plugins using interactive dialog behave this way. It would require toolkit changes to fix this.

1/5 let's make this a HW in the server repo.

[2022-03-09 19:47] DHaussermann opened #281 "GitLab produces an error while the webapp is loading - 501 response"
When the `flow` branch is deployed, I see GitLab producing an error in the dev console when the web app loads.
![image](https://user-images.githubusercontent.com/35588783/157520565-75e78d87-ab4a-4fc1-bcfa-1b8555fc038e.png)

[2022-03-09 19:48] DHaussermann commented on #281
I will isolate this further if there is no quick and obvious cause.

[2022-03-09 21:00] hanzei commented on #281
1. Is there anything meaningful in the server logs?
2. Does this issue reproduce on `master`?

[2022-03-15 13:52] shakeandbakebaby opened #282 "Add Merge Request Approval Subscription"
When a merge request gets approved it is an indicator to go do something else. This request is for adding the ability to subscribe to merge request is approved or unapproved. Current work around is to have a webhook post the change and not the gitlab mattermost plugin.

[2022-03-15 21:08] #279 closed

[2022-03-15 23:50] hanzei commented on #278
@catalintomai Was there a decision about if this should be a HW?

[2022-03-15 23:52] catalintomai commented on #278
We assigned it to Demansol. Could not assign it directly to Raju for some reason, but they are aware of it and they work on Gitlab nowadays anyway.

[2022-03-21 11:37] dipak-demansol commented on #277
@DHaussermann is this look Right?

![image](https://user-images.githubusercontent.com/89907719/159253507-1589e335-27f5-4f15-9b55-f749f7980c9c.png)

[2022-04-02 15:12] sibasankarnayak commented on #278
@hanzei wanted to check before starting should this fix be in mattermost-server ?

[2022-04-02 15:18] sibasankarnayak commented on #257
@dipak-demansol can you try to reproduce this issue and let me update on this ?

[2022-04-03 14:47] sibasankarnayak commented on #158
@hanzei @mickmister i see this is a issue duplicate of this issue #237

[2022-04-03 22:44] hanzei commented on #278
Well, this is not a bug from a framework perspective. Channel lists for interactive dialogs include archived channels. If an integration wants a filtered list, we need a new select type.

Is it really worth adding such type given that interactive dialogs is something we want to move away from?

[2022-04-03 22:46] #158 closed

[2022-04-04 13:00] DHaussermann opened #286 "Remove `password` attribute from oath field to prevent invalid filed pre-population"
The plugin dialogue modal for GitHub configuration is opening with login credentials already sitting in the field.

![image](https://user-images.githubusercontent.com/35588783/161548947-512d7b21-841f-4741-a267-192241444796.png)

For GitHub this was addressed by removing the password attribute. https://github.com/mattermost/mattermost-plugin-github/pull/538

[2022-04-05 21:41] mickmister opened #287 "GitLab users are not disconnected when their Mattermost account is deactivated"
"I noticed that the gitlab plugin record is not always expiring or deleting when the user's mattermost account is made inactive by an LDAP sync."

_Issue created from a [Mattermost message](https://community-daily.mattermost.com/_redirect/pl/dztwi5ysu7yujbprfnuwzi1bpc) *by `@sjenkins`*._

[2022-04-05 21:42] mickmister commented on #287
Note that in order to properly support this, we will need to have a new plugin hook `UserHasBeenDeactivated`

[2022-04-06 16:21] hanzei commented on #287
Why should the gitlab-mattermost connection be deleted when the Mattermost account is disabled? If the account get's enabled again, the existing connection be in place, right?

[2022-04-07 15:28] sibasankarnayak commented on #271
@mickmister wanted to check on this, is someone working on this ?

if no wanted to check on the requirement. does this feature seeking to list only PR been assigned to user , instead of listing all the PR opened by user?

[2022-04-07 16:51] mickmister commented on #271
@hanzei Do you have thoughts on this? I would think that "My opened MRs" is what someone would mainly want to know about, but maybe conventions in GitLab are a bit different than GitHub.

It looks like the "assignments" category currently only uses issues and not MRs, so assigned MRs are neglected in the counts in general.

https://github.com/mattermost/mattermost-plugin-gitlab/blob/bbd7d386985c77

[2022-04-07 16:52] mickmister commented on #271
@sibasankarnayak Is there a reason you're wanting to pick up an issue that's not in the sprint planning board?

[2022-04-07 20:13] mickmister commented on #271
The user connect welcome message states that the third category contains both merge requests and issues you are assigned to. @dipak-demansol Are you able to verify this is the case?

<img width="1247" alt="image" src="https://user-images.githubusercontent.com/6913320/162288020-13f4d03c-861f-4821-9dc6-0a520666b201.png">

cc @hanzei

[2022-04-08 12:40] sibasankarnayak commented on #271
@mickmister i picked it bymistake , but thought as worked on it so raised the PR

[2022-04-08 12:40] hanzei commented on #271
That sound like the optimal solution to me

[2022-04-08 13:13] deandrade87 commented on #271
So, on GitLab the main buttons where a user sees their tasks are:
- issues assigned to the user (this is compatible with what the mattermost plugin does already)
- Merge Requests assigned to the user or waiting for a review by the user
- ToDos (which are usually generated whenever a user is mentioned or so). I believe the mattermost plugin is treating these correctly.

So, for the second category

[2022-04-08 17:07] mickmister commented on #275
Hi @sakaipb how are you doing? Are you still interested in submitting your work for this ticket?

[2022-04-10 11:29] dipak-demansol commented on #257
@sibasankarnayak issue regenerated, **if the user forgot to select "api" or "read_user" Scopes then User will get that  error as "The requested scope is invalid, unknown, or malformed.", Both scopes are mandatory.**
https://user-images.githubusercontent.com/89907719/162615875-e02510f3-2644-48e5-b321-06239fe22dd6.mov

[2022-04-11 19:13] catalintomai commented on #271
Triage agreed that @deandrade87 's suggestion is valid.

[2022-04-13 14:30] mickmister opened #289 "Support the "Job Hook" event type"
A customer is expecting their pipeline events to be handled by the plugin. We handle the `Pipeline Hook` events, but not the `Job Hook` events. I suspect this is the event that is actually not being handled.

More context here https://community-daily.mattermost.com/core/pl/hdr65wz55jfaukojopxzcggf7o

[2022-04-13 14:31] mickmister opened #290 "Document specific events handled by the plugin"
Our docs say `Select all the events in Triggers.` for the step of configuring the events, but we only support a limited set of them. We should list the supported events, rather than saying to enable all of them. Then we can put a comment in the code to update the docs when we add a new event type.

cc @cwarnermm

[2022-04-13 14:36] mickmister opened #291 "Plugin is hitting burst limit on go-gitlab client"
The task here is to investigate why we might be hitting the burst limit specified by the `go-gitlab` client. Each MM user should have its own rate limit, but it seems the `go-gitlab` library may be limiting the plugin overall across all user tokens.

The limits set by GitLab are quite generous, so I don't think we're hitting their actual API limits
https://docs.gitlab.com/ee/user/admin_area/settin

[2022-04-13 14:44] mickmister commented on #291
@sibasankarnayak This is causing issues with log spam on a customer's server, as seen in the linked thread in the description. I'm thinking we have a few options here:

- Pinpoint how we can properly use the `go-gitlab` to take into account our use case of hitting the API in quick succession to populate data in the LHS for each user. This would be the ideal situation.
- Provide a config variable t

[2022-04-21 12:06] dimashasbi commented on #287
I am picking this one up

[2022-04-22 01:34] ftab commented on #96
Also want this for our self hosted GitLab.

related to #212 ?

[2022-04-25 07:30] mickmister commented on #287
@dimashasbi You will need to add a new plugin hook to the plugin framework as the first part of this task. You can see in https://github.com/mattermost/mattermost-server how this is done, in the `plugin` package.

The function signature should look like:

[code]

Then this plugin will implement this hook, and will delete the user's tokens when this function is called.

[2022-05-20 06:55] manojmalik20 commented on #286
This change is already present in the `master` branch so is there a reason that the issue is still open? @hanzei

[2022-05-24 02:59] sakaipb commented on #275
@mickmister
### at server/api.go
[code]
### at func (p *Plugin) getUnreads(w http.ResponseWriter, r *http.Request)
[code]
### at plugin.go ,func (p *Plugin) getGitlabUserInfoByMattermostID(userID string) (*gitlab.UserInfo, *APIErrorResponse)
[code]

[2022-05-25 07:24] benz0li opened #297 "Plugin keeps disconnecting"
After ~~some time*~~ two hours the plugin is in a _disconnected state_, i.e. not receiving any notifications from webhooks.

~~*to be determined~~

![disconnected-state](https://user-images.githubusercontent.com/20233085/170228598-19a5070d-9d87-4f7e-835b-861077aeb120.png)

ℹ️ _Refresh button_ does not work.

[2022-05-25 07:30] benz0li commented on #297
This started after upgrading to [gitlab/gitlab-ce:15.0.0-ce.0](https://hub.docker.com/layers/gitlab-ce/gitlab/gitlab-ce/15.0.0-ce.0/images/sha256-3b672dedc5028ea440364ef98c41584f12f820fa68b8b556cbb2f277c6c8bb5d?context=explore):

*  GitLab 15.0.0
*  Mattermost 6.6.1
*  Mattermost GitLab Plugin 1.4.0

[2022-05-25 07:56] sakaipb commented on #275
@mickmister  OK, I'll try

[2022-05-25 09:22] benz0li commented on #297
Only after a

[code]

the _Refresh button_ is working again.

[2022-05-25 10:44] benz0li commented on #297
– [Configure GitLab as an OAuth 2.0 authentication identity provider | GitLab > Expiring access tokens]( https://docs.gitlab.com/ee/integration/oauth_provider.html#expiring-access-tokens)

[2022-05-25 10:50] #297 closed

[2022-05-25 11:05] benz0li commented on #275
@mickmister Please add this to the next release ([Release v1.5.0](https://github.com/mattermost/mattermost-plugin-gitlab/issues/274)).

[2022-05-25 14:21] manojmalik20 commented on #275
I've also fixed this issue. Should I write unit tests before submitting a PR?

[2022-05-27 07:13] MatthewDorner commented on #282
I would like to work on this.

[2022-06-01 12:12] spirosoik commented on #289
@mickmister I have done couple of work for pipelines and jobs I will try to raise a PR on Friday

[2022-06-04 19:31] MatthewDorner commented on #261
I would like to work on this.

[2022-06-06 12:27] mickmister commented on #261
Great! Thank you @MatthewDorner!

[2022-06-07 14:50] philipreimer commented on #275
Will there be an intermediate `1.4.x` release with a fix for this issue?
If yes, is there an ETA for that?

It appears that the plugin is basically broken now when used with Gitlab 15.0+. I have to run `/gitlab connect` every time I open Mattermost. And if I don't I miss notifications from Gitlab.

Or is there some kind of workaround for this issue?

[2022-06-15 19:16] MatthewDorner commented on #282
The merge request approval and disapproval are still `MergeEvent` type webhook events, so there would be no additional subscription feature. You'd just add the code in `webhook/merge_request.go` to handle the `approved` and `unapproved` actions and generate the correct DM and Channel posts. That sound right?

[2022-06-21 21:18] MatthewDorner commented on #261
I'm adding checks for the `"401 {error: invalid_token}"` error in the places where code from `main` calls into the `gitlab` client package. I believe I need to handle it in `main` in order to Disconnect user and send the bot message.

But I'm afraid it is complicating the error handling code in `main` a bit and may be prone to bugs when further changes are made in `main`. It's unfortunate since al

[2022-06-26 18:57] MatthewDorner commented on #261
Just waiting to see the resolution of https://github.com/mattermost/mattermost-plugin-gitlab/pull/298, but may have another issue.

In the case where the token is revoked AND expired, the attempt to renew the token will fail and there, I would like to Disconnect the account and DM the user. However, the call to `p.disconnectGitlabAccount` will call into `p.getGitlabUserInfoByMattermostID` again wh

[2022-07-06 17:10] #275 closed

[2022-07-10 22:18] MatthewDorner commented on #287
I can take this if it's available.

[2022-07-11 13:47] wiersgallak opened #309 "Make it easier to configure per repo"
Provide a mechanism to allow a token for GitLab integration to be passed once-- do not require the token to be entered for each project.

[2022-07-12 15:36] DHaussermann commented on #286
I believe @manojmalik20 is correct. I also can no longer repro this.
![image](https://user-images.githubusercontent.com/35588783/178530030-30b00ba0-74c4-45b0-b3ce-02b18028c559.png)

Closing issue.

[2022-07-12 15:59] #249 closed

[2022-07-14 08:54] cforce commented on #242
Is this feature request rejected, or why are all related tickets closed?
Confused about Duplicate of https://github.com/mattermost/mattermost-plugin-gitlab/issues/242, which is the same issue!?

[2022-07-14 16:52] cforce opened #310 "allow oauth login direct to group level url instead of gitlab.com"
We have an org n gitlab.com which is secured by SAML. Thta mean if you use the url
gitlab.com/groups/mycompany you will be redirected to the comapny SSO.
The issue is thta if i register with "/gitlab connect" i get a url in matermost which sens me to gitla.com where  i get the standard gitlab auth but not the company SSO login redirect.
Is there a way to configure what url is used on "/gitlab conn

[2022-07-15 17:54] DHaussermann commented on #274
@mickmister Can you please make us a version bump PR for GitLab `v1.5.0` The Milestone is now complete.

[2022-07-18 21:01] Flinch opened #312 "Unexpected behaviour with using gitlab plugin setup command on localhost"
I encountered this error when trying to run /gitlab setup on the gitlab bot, and clicking continue. The button doesn't invoke any action and an error is thrown back.

This is not reproducible when connecting to a cloud server running on the latest master branch, its only reproducible on my localhost specifically. I have tested the github setup command and can confirm it works fine. So this is a gi

[2022-07-22 08:06] mickmister commented on #287
Hi @MatthewDorner Sorry for the late response here. Would you still like to take this ticket?

[2022-07-22 18:19] MatthewDorner commented on #287
yeah!

[2022-07-22 19:22] mickmister commented on #287
@MatthewDorner Awesome :tada: It's all yours!

[2022-07-25 14:59] DHaussermann opened #313 "Investigate if `v1.4.1` resolves token error in the log without individual users having to reconnect"
It seems that users are still having an issue with large number of logs on the server for GitLab token refresh errors.

Possibly because the users are not forced to reconnect.
https://community.mattermost.com/core/pl/db3y44nmtjyoixraeq69f9nqwc

[2022-07-25 15:42] #313 closed

[2022-07-31 16:30] MatthewDorner commented on #261
I was trying to see what specific need prompted this Issue, but the link doesn't work for me.

[2022-08-08 16:08] catalintomai commented on #312
@DHaussermann , please work with @Flinch on getting more logs. Thanks.

[2022-08-10 12:01] Kshitij-Katiyar commented on #309
@wiersgallak Please explain this issue further which can include things like :-
1) Currently working feature and its enhancements
2) Which Slash command this is associated to
3) Steps to reproduce it
Any kind of information is appreciated.Thanks

[2022-08-10 13:17] wiersgallak commented on #309
@nab-77 Can you help with the details on this request? This was part of the improvements we've requested to support the Gitlab Release Playbooks integration.

[2022-08-10 15:42] nab-77 commented on #309
@Kshitij-Katiyar this is about allowing a single GitLab token to be used for all available repro (as currently there is a token per repo). The idea here is to extend access without admin overhead.

The slash cmd is `/gitlab subscriptions action owner/repo` (where action is add/delete).

[2022-08-17 13:11] solick opened #314 "New Version 1.5.0 not shown in MM Marketplace"
Hi, i don't know the process in detail but I was expecting the version 1.5.0 to be upgradable via MM Marketplace or system console. Is this a bug or are there extra steps needed to have new versions in MM Marketplace?

[2022-08-19 18:39] MatthewDorner commented on #287
It would be easier on the server side if we didn't need the `permanentDelete` argument. Since I only want to call the plugin hook from one place, I think that would be inside `App.UpdateActive` (https://github.com/mattermost/mattermost-server/blob/7643a28263f3afd9b87c721daf100beb070516c3/app/user.go#L929), which itself is called from several different places.

So I'd have to add a parameter `perma

[2022-08-19 18:57] MatthewDorner commented on #287
If a plugin really does need to know the difference between a user being deactivated and deleted, imo these could be two separate hooks instead.

For the purposes here, it sounds like we only need to know when they're deactivated.

[2022-08-23 04:34] mickmister commented on #287
@MatthewDorner The idea behind the `permanentDelete` is to allow the plugin to use its own discretion to determine the level of data deletion it should perform itself. Maybe this isn't actually necessary. If the user is deactivated, they are deactivated, and should have their OAuth tokens etc. removed from the database. Let's get rid of the `permanentDelete` boolean.

[2022-08-23 16:34] #277 closed

[2022-08-23 21:51] MatthewDorner commented on #287
@mickmister Since this issue was created due to the case where user is made inactive via LDAP sync, I want to make sure my solution works for that. But I think the LDAP sync code might be in a different, closed repository because it's an Enterprise feature? Is that correct? I see only the interface at `einterfaces.LdapInterface` but not the implementation of `StartSynchronizeJob`, for instance.

I

[2022-09-02 06:45] perkooo opened #316 "Token is not refreshed automatically"
We noticed that the token is not automatically refreshed.

[code]

The Gitlab token expires quickly (a few hours after I presume).

The only way is to manually do a /gitlab connect on our side to refresh it.
(We are using a self-hosted Gitlab).

[2022-09-06 18:57] DHaussermann commented on #316
@perkooo thanks for opening an issue. In the case you describe above - were you using `v1.4.1` or an earlier release?

[2022-09-09 01:52] bbodenmiller commented on #314
Noticing same issue

[2022-09-16 12:20] Maunty commented on #316
I got once weird behavior. (Updated to 1.4.1 yesterday)

Seams that after some of inactivity time first entered command (`/gitlab todo` in my case) doesn`t returns any answers but next command works fine without `/gitlab connect`.

Plugin version `v1.4.1` and self-hosted gitlab 15.0.

I will try to confirm and return with more solid proof

[2022-09-18 06:29] hanzei commented on #242
Good catch.

The correct ticket to link is #35

[2022-09-18 15:15] catalintomai opened #317 "MM-47046 Use version of React DOM provided by web app"
From [here](https://github.com/mattermost/mattermost-plugin-demo/pull/153):

"For some more context, see [here](https://community.mattermost.com/core/pl/1fkkx7pj1jrwffrc6drh3x71eh). The short version though is that we updated the web app to React 17, and there's a chance that plugins will have some issues with it because they're compiled with the React 16 version of ReactDOM. I'm submitting PRs to

[2022-09-19 10:16] #274 closed

[2022-09-19 11:50] hanzei commented on #316
@perkooo Could you please test if the newly released v1.5 fixes the issue if you dis and reconnect?

[2022-09-19 13:31] perkooo commented on #316
Currently testing @hanzei, I'll give you feedback soon.

[2022-09-19 20:27] hanzei commented on #314
It should be available now. Can you confirm?

[2022-09-20 04:06] solick commented on #314
Yes I can confirm, it is available and I was able to upgrade. Thanks

[2022-09-20 04:06] #314 closed

[2022-09-23 12:02] zawadaa commented on #164
Any news? This is unresolved :-(

[2022-09-28 11:58] nab-77 commented on #310
@mickmister is this an enhancement or bug?

[2022-09-29 08:10] mickmister commented on #310
@cforce Thanks for filing this issue. Are you able to provide a minimal reproducible GitLab config that will help me investigate this further? I'm not sure how to reproduce your environment with SAML and GitLab groups. Also, did you install the OAuth app within the group's applications specifically like https://gitlab.com/groups/mycompany/-/settings/applications, as opposed to https://gitlab.com/-

[2022-09-29 08:40] fabwamb commented on #310
The application entry exists and there are no options which can have any impact on the url that is used to make sure the Group SAML IDP is used.
Maybe related to https://gitlab.com/gitlab-org/gitlab/-/issues/215155

[2022-10-03 15:36] catalintomai commented on #164
Hi @zawadaa ,what MM/Gitlab versions are you using? Also, are you sure you see these exact messages flooding? Thanks.

[2022-10-04 03:35] mickmister commented on #317
Solved with https://github.com/mattermost/mattermost-plugin-gitlab/pull/318

[2022-10-04 03:35] #317 closed

[2022-10-04 11:37] zawadaa commented on #164
Hi! Yesterday I've updated my Gitlab installation (so MM is now 7.2.0) and works!!
Thanks!!

[2022-10-11 11:35] AbhishekTiwari23 commented on #63
Can I work on this?

[2022-10-17 13:06] Blackclaws opened #319 "Allow triggering manual jobs via /gitlab command"
One of the big advantages of chatops is that you don't have to leave your chat program to interact with CI pipelines.

While the gitlab integration for mattermost slash commands does offer some help in that regard. It isn't equipped to run manual jobs in a current pipeline.

What I'd love to see is a message: "Pipeline waiting for manual job: Run (Button)"

[2022-10-17 13:08] Blackclaws opened #320 "Child Pipelines with manual jobs are posted multiple times"
When running child pipelines with manual jobs, there are multiple posts for the child pipeline when the manual job is run. The message is the same as when the child pipeline is created the first time.

In general its questionable whether notifications for child pipelines (not to be confused with multi project pipelines) are desirable. Those don't even show up as individual pipelines in the pipelin

[2022-10-17 15:38] catalintomai commented on #164
Hi @paulkitt , can you validate that it works and close the ticket if it indeed does?

[2022-10-19 05:56] wkentaro opened #321 "Wrong notification saying "X assigned you to merge request" when the issue is updated (e.g., new commits pushed)"
This seems to be a known issue, but can anyone guide me to resolve this?
It is a bit annoying to get notification every time someone pushes a new commit.
![image](https://user-images.githubusercontent.com/4310419/196608475-464ba9c0-aec9-48fd-aa48-f6282262f89f.png)

[2022-10-20 06:18] mickmister commented on #321
Hi @wkentaro! It looks like this may be possible via `event.Changes.Assignee.Previous` and `event.Changes.Assignee.Current`. We can diff these two arrays to find if there is a new assignee. Then we can DM the new assignee(s) if there is one. Would you be interested in implementing this?

https://github.com/xanzy/go-gitlab/blob/6da2d13f2241eab2edf52f881b28a31595780a7e/event_webhook_types.go#L557-L5

[2022-10-22 12:30] wkentaro commented on #321
Yes, I'm happy to. One thing that is blocking me to do so is that it is not very clear to me if `xxxUsername` variables point the username of Gitlab or Mattermost. (Do you know which is that?)

https://github.com/mattermost/mattermost-plugin-gitlab/blob/1a620e3593d75297d8eaf735bd951194b717ba59/server/webhook/merge_request.go#L23-L24

Looking at the messages, it looks like they are the username of

[2022-10-25 12:56] genestouxguy opened #325 "Unable to determine status of Webhook"
Hi,

When I subscribe with the command `/gitlab subscription add group-test/test-project issues,issue_comments`, I get the response `Unable to determine status of Webhook. See [setup instructions](https://github.com/mattermost/mattermost-plugin-gitlab#step-3-create-a-gitlab-webhook) to validate.`.

But I receive all the issues notification ...

The link to stepup instruction is dead but I use this

[2022-10-25 13:02] genestouxguy opened #326 "why do GitLab Guest see confidential issues ?"
Hello,

If the webhook authorize to push the `Confidential issues events`, the user right doesn't work. So if the user has a "Guest" role in GitLab, he can see all the issues with this plugin ? If yes, is it how the plugin was thought or is it a bug ?

Thanks!

[2022-10-25 20:12] mickmister commented on #326
Hi @genestouxguy, thanks for creating this issue. If I understand correctly, the concern is that someone in Mattermost can see issues created from a subscription, no matter what their level of access control is in GitLab.

In the case of creating the webhook, the user creating it must have the appropriate access in GitLab. But the issue you're pointing out is that a given user that doesn't have th

[2022-10-26 12:40] genestouxguy commented on #326
Hi @mickmister,

Thanks for you answer. So to clarrify the question whit this plugin (mattermost-plugin-gitlab), with the workflow following:

1. the user connect to gitlab with `/gitlab connect`
2. the user subscribe at the project (owner|group/project) with the command `/gitlab subscription add ...`

In this case, can the user mattermost connect to all projects on GitLab which have configured th

[2022-10-27 18:00] mickmister commented on #326
I think I understand now. There are a few fixes I see here:

- Subscriptions should support configuration to filter out confidential issues (not sure what the default should be)
- When a user creates a subscription, we should check their repo access level
    - If the user does not have access to the repo, we shouldn't allow them to create the subscription
    - If the user does not have access to

[2022-10-28 02:57] mickmister opened #327 "Release 1.5.1"
- https://github.com/mattermost/mattermost-plugin-gitlab/pull/318

[2022-11-01 08:11] hanzei commented on #326
:+1: for the first point.

But I don't understand why the second one is needed. Without a webhook no events will be shown in MM. And to create one, the user needs to have (admin?) access to the repo. Why do we also need to check for permissions?

[2022-11-08 06:39] wkentaro opened #329 "Attached image is not rendered with `New comment by X`"
<img width="555" alt="image" src="https://user-images.githubusercontent.com/4310419/200492628-e25bed5c-45a7-440c-83b1-780c2d1c8259.png">

[2022-11-08 09:59] genestouxguy commented on #326
Hi @hanzei,

Indeed, if a webhook doesn't exists A Guest user of GitLab repository can't create one. But what if you created the webhook for your team and a Guest User use this webhook ? Then he access all confidential notes/issues.
I hope it's more clear.

Thanks for your work !

[2022-11-17 15:01] DHaussermann opened #331 "Pipeline commands are missing from the help"
Pipeline commands are now available in GitLab but they are missing from the help.

 We should add both `run` and `trigger` commands for pipelines to the help. The help should also include sample syntax similar to what the autocomplete is currently showing.

[2022-11-22 17:28] DHaussermann opened #332 "Remove pipeline `trigger` subcommand from the autocomplete"
`/gitlab pipelines trigger` is not yet implemented as desired and should be removed from the autocomplete to prevent user confusion.

[2022-11-24 06:26] #332 closed

[2022-11-24 06:26] #331 closed

[2022-11-24 06:35] kc9jud commented on #257
This is still a (security) issue.
![image](https://user-images.githubusercontent.com/4133644/203711165-35a5f241-ecb5-4c23-8ab6-978efde78001.png)
It looks like #292 would fix this.

[2022-11-28 17:30] intelltec opened #336 "Unable to add a subscription to any project inside a group"
Mattermost Team Edition Version: 7.5.1 and GitLab Community Edition [15.5.4] self-hosted both.
Got several projects at GitLab combined into a group.
Using genuine guide from [Readme.md](https://mattermost.gitbook.io/plugin-gitlab/setup/configuration).
Everything is fine up to Step 4 and there:
If I'm using `/gitlab subscriptions add thegroup issues,merges,pushes,pipeline,tag ` the group is connect

[2022-11-29 16:48] hanzei commented on #213
Fixed with https://github.com/mattermost/mattermost-plugin-gitlab/pull/302

[2022-11-29 16:48] #213 closed

[2022-11-29 16:48] hanzei commented on #289
Closed with https://github.com/mattermost/mattermost-plugin-gitlab/pull/302

[2022-11-29 16:48] #289 closed

[2022-11-29 17:04] hanzei opened #337 "Release v1.6.0"
- [x] https://github.com/mattermost/mattermost-plugin-gitlab/pull/333
- [x] ~~https://github.com/mattermost/mattermost-plugin-gitlab/pull/308~~
- [x] https://github.com/mattermost/mattermost-plugin-gitlab/pull/346
- [x] https://github.com/mattermost/mattermost-plugin-gitlab/issues/343
- [x] https://github.com/mattermost/mattermost-plugin-gitlab/issues/342

[2022-11-29 17:06] hanzei commented on #234
https://github.com/mattermost/mattermost-plugin-gitlab/pull/288 can be used as a starting ground.

[2022-11-30 08:16] mickmister opened #338 "Release 1.5.2"
This release is meant to deliver the updates for the ReactDOM update effort, and resolve the issue with CGO in the 1.5.1 release.